/*
#content .enhc-overview-clusta .featured-offers {
    width: 100%;
}
*/
.pws-offer-listing-search-box {
    vertical-align: top;
}
.search-gray-bg-main-container .search-box .component-content > .twitter-typeahead .search-box-input.tt-input {
    margin-bottom: 0;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #999;
    color: #999;
    margin-bottom: 0;
    height: 50px;
    line-height: 20px;
    font-size: 16px;
    background: #fff url(../images/icons/search-btn-gray.png) center right 15px no-repeat !important;
    padding-right: 40px;
   
}
.facet-single-selection-list .facet-value.active-facet label, .facet-single-selection-list .facet-value.active-facet .facet-count.highlighted, .facet-single-selection-list .facet-value.active-facet span {
    color:#000;
}
.form-control:focus {
    border-color: inherit;
}