
.bg-white {
  background-color: #ffffff !important;
}
.bg-light {
    background-color: #f8f9fa !important;
}
.w-100 {
  width: 100% !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.font-size-24 {
    font-size: 24px;
}
.p-4 {
  padding: 1.5rem !important;
}
.pl-1, .px-1 {
    padding-left: 0.25rem !important;
}
.pr-1, .px-1 {
    padding-right: 0.25rem !important;
}
.pt-5, .py-5 {
  padding-top: 3rem !important;
}
.mb-auto, .my-auto {
    margin-bottom: auto !important;
}
.mt-5, .my-5 {
  margin-top: 3rem !important;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.radius-15 {
  border-radius: 15px;
}
.control-group {
  border: 2px solid #A7AED1;
  padding: 16px;
  margin: 0 0 5px 0;
}
.control-group input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.control-group label {
  display: block;
  position: relative;
  padding: 0px 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
.control-group .check {
  display: block;
  position: absolute;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 16px;
  left: 30px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}
.control-group .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.control-group:hover .check {
  border: 5px solid #289EFF;
}
.control-group input[type=radio]:checked ~ .check {
  border: 5px solid #00BAFF;
}
.control-group:hover {
  border: 2px solid #289EFF;
}
.button-alrajhi-primary {
  background: #00BAFF !important;
  color: #ffffff  !important;
  border: none  !important;
  margin: 10px 0;
  padding: 12px 23px;
}
.button-alrajhi-primary:hover {
  background: #0095cc !important;
  color: #ffffff !important;
}
.button-alrajhi-primary:focus {
  background: #0095cc  !important;
  border-color: #0000 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button-alrajhi-outline {
  background: transparent !important;
  color: #221BFF !important;
  border: 2px solid #221BFF !important;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 23px;
}
.button-alrajhi-outline:hover {
  background: #221BFF !important;
  color: #ffffff !important;
  border-color: transparent !important;
  text-decoration: none;
}
.button-alrajhi-outline:focus {
  background: #221BFF !important;
  color: #ffffff !important;
  border-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.vathidden
{
	display:none;
}

.vatshow
{
	display:inline;
}


.alrajhi-1, .alrajhi-2, .alrajhi-3, .alrajhi-4, .alrajhi-5, .alrajhi-6, .alrajhi-7, .alrajhi-8, .alrajhi-9, .alrajhi-10, .alrajhi-11, .alrajhi-12, .alrajhi, */
.alrajhi-auto, .alrajhi-sm-1, .alrajhi-sm-2, .alrajhi-sm-3, .alrajhi-sm-4, .alrajhi-sm-5, .alrajhi-sm-6, .alrajhi-sm-7, .alrajhi-sm-8, .alrajhi-sm-9, .alrajhi-sm-10, .alrajhi-sm-11, .alrajhi-sm-12, .alrajhi-sm,
.alrajhi-sm-auto, .alrajhi-md-1, .alrajhi-md-2, .alrajhi-md-3, .alrajhi-md-4, .alrajhi-md-5, .alrajhi-md-6, .alrajhi-md-7, .alrajhi-md-8, .alrajhi-md-9, .alrajhi-md-10, .alrajhi-md-11, .alrajhi-md-12, .alrajhi-md,
.alrajhi-md-auto, .alrajhi-lg-1, .alrajhi-lg-2, .alrajhi-lg-3, .alrajhi-lg-4, .alrajhi-lg-5, .alrajhi-lg-6, .alrajhi-lg-7, .alrajhi-lg-8, .alrajhi-lg-9, .alrajhi-lg-10, .alrajhi-lg-11, .alrajhi-lg-12, .alrajhi-lg,
.alrajhi-lg-auto, .alrajhi-xl-1, .alrajhi-xl-2, .alrajhi-xl-3, .alrajhi-xl-4, .alrajhi-xl-5, .alrajhi-xl-6, .alrajhi-xl-7, .alrajhi-xl-8, .alrajhi-xl-9, .alrajhi-xl-10, .alrajhi-xl-11, .alrajhi-xl-12, .alrajhi-xl,
.alrajhi-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.no-gutters > .alrajhi,
.no-gutters > [class*="alrajhi-"] {
  padding-right: 0;
  padding-left: 0;
}
.alrajhi-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.alrajhi-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.alrajhi-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.alrajhi-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.alrajhi-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.alrajhi-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.alrajhi-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.alrajhi-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.alrajhi-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.alrajhi-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.alrajhi-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.alrajhi-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.alrajhi-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
  @media (min-width: 576px) {
    .alrajhi-sm {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .row-alrajhi-sm-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .row-alrajhi-sm-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .row-alrajhi-sm-3 > * {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .row-alrajhi-sm-4 > * {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .row-alrajhi-sm-5 > * {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .row-alrajhi-sm-6 > * {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .alrajhi-sm-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .alrajhi-sm-1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .alrajhi-sm-2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .alrajhi-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .alrajhi-sm-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .alrajhi-sm-5 {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .alrajhi-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .alrajhi-sm-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .alrajhi-sm-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .alrajhi-sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .alrajhi-sm-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .alrajhi-sm-11 {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .alrajhi-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 768px) {
    .alrajhi-md {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .row-alrajhi-md-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .row-alrajhi-md-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .row-alrajhi-md-3 > * {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .row-alrajhi-md-4 > * {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .row-alrajhi-md-5 > * {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .row-alrajhi-md-6 > * {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .alrajhi-md-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .alrajhi-md-1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .alrajhi-md-2 {
      flex: 0 0 16.666667% !important;
      max-width: 16.666667% !important;
    }
    .alrajhi-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .alrajhi-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .alrajhi-md-5 {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .alrajhi-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .alrajhi-md-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .alrajhi-md-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .alrajhi-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .alrajhi-md-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .alrajhi-md-11 {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .alrajhi-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 992px) {
    .col-alrajhi {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .row-alrajhi-lg-1 > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .row-alrajhi-lg-2 > * {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .row-alrajhi-lg-3 > * {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .row-alrajhi-lg-4 > * {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .row-alrajhi-lg-5 > * {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .row-alrajhi-lg-6 > * {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .alrajhi-lg-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: 100%;
    }
    .alrajhi-lg-1 {
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .alrajhi-lg-2 {
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .alrajhi-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .alrajhi-lg-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .alrajhi-lg-5 {
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .alrajhi-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .alrajhi-lg-7 {
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .alrajhi-lg-8 {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .alrajhi-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .alrajhi-lg-10 {
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .alrajhi-lg-11 {
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .alrajhi-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
  .alrajhi-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-alrajhi-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-alrajhi-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-alrajhi-lg-3 > * {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-alrajhi-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-alrajhi-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-alrajhi-lg-6 > * {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .alrajhi-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .alrajhi-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .alrajhi-lg-2 {
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;
  }
  .alrajhi-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .alrajhi-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .alrajhi-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .alrajhi-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .alrajhi-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .alrajhi-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .alrajhi-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .alrajhi-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .alrajhi-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .alrajhi-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  }
.alrajhi-lg-12 .my-3{
	padding: 0 16px;
}
