[lang="ar"] .navigation.navigation-mobile .rel-level1 a {
    border-left: 1px solid #f9f9f9 !important;
    border-right: 0 !important;
    font-size: 14px !important;
}

[lang="ar"] .pws-search-btn {
    margin-top: 9px;
}

[lang="ar"] .accordion .items .item .label {
    padding-right: 20px;
    padding-left: 50px;
}

[lang="ar"] .breadcrumb .separator {
    padding-top: 1px;
}

[lang="ar"] .tabs-section.pws-section-faqs .promo.pws-row-accordion-container .rich-text {
    float: none;
}

[lang="ar"] .search-gray-bg-main-container .search-box .component-content > .twitter-typeahead .search-box-input.tt-input {
    background: #FFFFFF url(../images/icons/search-btn-gray.png) center left 15px no-repeat !important;
    padding-left: 40px !important;
    padding-right: 10px !important;
}

[lang="ar"] .validation-summary-valid .list-group {
    margin-bottom: 20px;
}

[lang="ar"] .online-app-sec .component-content .field-promoicon {
    margin: 12px 0;
}

[lang="ar"] .whats-new-links {
    margin-right: 30px;
    margin-left: 0;
}

[lang="ar"] .awards-tabs-container .pws-listing-item .pws-title-heading {
    float: right;
}

[lang="ar"] .language-selector .language-selector-item a {
    color: #221afb !important
}

[lang="ar"] .pws-enhancements .search-top-box {
    margin-left: 10px;
    margin-right: 0;
}

[lang="ar"] .pws-header-top-container .pws-btn-find-branch-top {
    margin: 0 5px 0 0;
    border-right: 1px solid #f9f9f9;
}

[lang="ar"] .pws-enhancements .nav-up.nav-up-ani .pws-header-top-container .row.column-splitter .pws-search-btn {
    margin: 0;
    border-right: solid 1px rgba(23, 35, 40, .25);
    border-left: none;
}

[lang="ar"] .pws-enhancements #header .search-box .tt-dropdown-menu {
    width: 284px;
    margin-left: 0;
    margin-right: -22px;
    padding-right: 17px;
    padding-left: 43px;
}

[lang="ar"] .pws-toggle-drop-right details summary:before, [lang="ar"] .pws-toggle-drop-left details summary:before {
    left: -1px;
}

[lang="ar"] .pws-enhancements .pws-toggle-drop-right .toggle-content > .toggle-header:before {
    /* right: auto; */
    right: 90%;
}

[lang="ar"] .pws-toggle-drop-right .toggle-header {
    right: 0;
}

[lang="ar"] .pws-enhancements .toggle.pws-toggle-drop-right summary.toggle-header {
    padding-left: 24px !important;
    padding-right: 14px !important;
}

[lang="ar"] .pws-enhancements .pws-toggle-drop-right .link-list .component-content {
    left: 0;
    right: auto !important;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav .link-list li a,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-ebanking-nav li a,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation li .navigation-title a,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation li .pws-overview-link a,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav .rich-text h3,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav .link-list h3,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-ebanking-nav h3 {
    font-family: notoSansArabic-light !important;
    text-align: right;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level1.submenu > .navigation-title a {
    background: #221afb url(../images/arrows/redirect-survey-close.png) center left 40px no-repeat;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level1.submenu.open-next-ul > .navigation-title a {
    background: #221afb url(../images/arrows/redirect-survey-open.png) center left 40px no-repeat;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .submenu.level2 > .navigation-title a {
    background: #221afb  url(../images/arrows/redirect-survey-ar.png) center left 40px no-repeat;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .submenu.level3 > .navigation-title a {
    background: #221afb  url(../images/arrows/redirect-survey-close.png) center left 40px no-repeat;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level3.submenu.open-next-ul > .navigation-title a {
    background: #221afb  url(../images/arrows/redirect-survey-open.png) center left 40px no-repeat;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level1.submenu > .pws-arrow,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav .rich-text h3:after,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-ebanking-nav h3:after {
    background: #221afb url(../images/arrows/redirect-survey-close.png) center right 10px no-repeat;
    right: auto;
    left: 0;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .submenu.level2 > .pws-arrow,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav .link-list h3:after {
    right: auto;
    left: 0;
    background: #221afb  url(../images/arrows/redirect-survey-ar.png) center right 10px no-repeat;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level1.submenu > .pws-arrow.open-icon,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav .rich-text h3.open-icon:after,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-ebanking-nav h3.open-icon:after {
    background: #221afb url(../images/arrows/redirect-survey-open.png) center right 10px no-repeat;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav {
    -webkit-transition: 0.7s right;
    -moz-transition: 0.7s right;
    -o-transition: 0.7s right;
    transition: 0.7s right;
    left: auto;
    right: -100%;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav.mobile-slide {
    -webkit-transition: 0.7s right;
    -moz-transition: 0.7s right;
    -o-transition: 0.7s right;
    transition: 0.7s right;
    left: auto;
    right: 0;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .submenu.level3 .pws-overview-link a,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level4 .navigation-title a {
    padding-left: 30px;
    padding-right: 60px;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .submenu.level2.open-level-2 > .navigation-title a,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav .link-list.open-level-2 h3 {
    padding-left: 30px;
    padding-right: 70px;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level2.submenu.open-level-2,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav.open-next-ul .link-list.open-level-2 {
    right: auto;
    left: -100%;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav.nav-left-ani .navigation .level2.submenu.open-level-2,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav.nav-left-ani .pws-group-nav.open-next-ul .link-list.open-level-2 {
    left: 0;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level2.submenu.open-level-2 > .navigation-title a {
    background: #221afb url(../images/arrows/level2-back-ar.png) center right 24px no-repeat !important;
}

[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .navigation .level2.submenu.open-level-2 > .pws-arrow.open-icon,
[lang="ar"] .pws-enhancements header .arb-mobile-main-nav .pws-group-nav .link-list.open-level-2 h3.open-icon:after {
    background: #221afb url(../images/arrows/level2-back-ar.png) center right 24px no-repeat;
    right: 0;
    left: auto;
}

[lang="ar"] .pws-enhancements .nav-up.nav-up-ani .pws-logo-main {
    margin: 18px 0 12px 25px;
}

[lang="ar"] .pws-enhancements .page-list.whats-new ul li .pws-content {
    float: right;
}

[lang="ar"] .pws-enhancements .page-list.whats-new ul li .enhc-publish-date {
    left: 0;
    right: auto;
    text-align: left;
}

[lang="ar"] .pws-enhancements #content .pws-enhc-how-to-apply .pws-enhc-hta-contact {
    padding: 0 60px 0 0 !important;
}

[lang="ar"] .pws-enhancements .pws-form-white-layout .calculator-left-sec .form-inline-btns {
    text-align: left;
}

[lang="ar"] .pws-enhancements .pws-form-white-layout .calculator-left-sec .form-inline-btns a {
    margin-left: 0;
}

[lang="ar"] .pws-enhancements .pws-offer-listing .pws-listing-item .pws-image-box .offer-category {
    text-align: right;
}

[lang="ar"] .pws-enhancements .pws-offer-listing .pws-listing-item .pws-image-box .offer-category .pws-date {
    padding-left: 0;
    padding-right: 4px;
    margin-left: 0;
    margin-right: 4px;
    border-left: none;
    border-right: solid 1px rgba(0, 0, 0, .3);
}

[lang="ar"] .pws-enhancements .pws-single-column-promo.pws-standard-card.pws-standard-card-featured.no-margin-top .component-content .promo-content .pws-promo-content-block > p {
    text-align: right;
}

[lang="ar"] .pws-enhancements .pws-single-column-promo .component-content .promo-content .pws-promo-content-block ul {
    padding-left: 0;
    padding-right: 10px;
}

[lang="ar"] .pws-enhancements .enhc-promo-info-box .enhc-grids-col-right ul.signatures-list, .pws-enhancements .enhc-promo-info-box .enhc-grids-col-right ol.number-list {
    margin-right: 12px;
    margin-left: 0;
}

[lang="ar"] .pws-enhancements .enhc-promo-info-box .enhc-grids-col-right {
    padding: 50px 148px 50px 85px;
}

[lang="ar"] .pws-enhancements .pws-simple-accordion-apply-now.pws-simple-accordion-title.pws-enhc-toggle .toggle-content .rich-text p.pws-text-num a {
    direction: ltr;
    display: inline-block;
}

[lang="ar"] .pws-enhancements .pws-enhc-sticky-filter-bar .col-xs-2 .component-content .btn-adv-filters {
    padding-left: 20px;
    padding-right: 10px;
}

[lang="ar"] .pws-enhancements #header .search-box .search-box-input {
    padding: 12px 0 6px;
}

[lang="ar"] #content .online-app-sec.col-xs-12 .bg-parallex-block {
    background-position-x: 0;
}

[lang="ar"] .pws-enhancements .pws-inpagenav-container .pws-link-list-for-tabs:before {
    right: -27px;
    left: auto;
}

[lang="ar"] .pws-branch .pws-heading-top-box .field-open-until:before,
[lang="ar"] .pws-branch .pws-heading-top-box .field-open-time:before,
[lang="ar"] .gm-style-iw .field-open-until:before {
    margin-left: 7px !important;
    margin-right: 0;
}

[lang="ar"] .pws-branch .pws-heading-top-box .field-region,
[lang="ar"] .pws-branch .pws-heading-top-box .field-city,
[lang="ar"] .pws-branch .pws-heading-top-box .field-distance-time {
    padding-left: 5px;
    padding-right: 0;
}

[lang="ar"] div.field-city > span.field-city > span {
    padding-right: 10px !important;
    padding-left: 0 !important;
}

[lang="ar"] .pws-enhancements .main-header .top-nav-container .top-nav-inner li.mm-position-center .mega-menu {
    left: 50% !important;
}

[lang="ar"] .pws-enhancements .pws-board-directors ul.items li.item {
    float: right;
}

[lang="ar"] .pws-enhancements .carousel-inner ul li .pws-enhc-banner-images.card-version .pws-enhc-carousel-desktop-image {
    padding-left: 0;
    padding-right: 40px;
}

[lang="ar"] .pws-enhancements .carousel-inner ul li .pws-enhc-carousel-banner-inner .pws-enhc-banner-images.inner-card-version .pws-enhc-carousel-desktop-image {
    left: auto;
    right: -20px;
}

[lang="ar"] .pws-enhancements .pws-simple-accordion-title .toggle-content .col-xs-6 .pws-text-num {
    float: right;
}

[lang="ar"] .pws-enhc-surveyform .pws-survey-feedback .component-content {
    text-align: center;
}

[lang="ar"] .pws-enhc-surveyform .form-group .radio {
    direction: ltr;
}

[lang="ar"] .pws-enhancements .pws-enhc-how-to-apply,
[lang="ar"] .component.container.col-xs-12.boxed.pws-enhc-how-to-apply,
[lang="ar"] #content .pws-enhc-how-to-apply-simple,
[lang="ar"] #content .pws-enhc-how-to-apply-dual-column {
    /*background-image: url(../images/bg/pws-enhc-how-to-apply2-ar.svg), url(../images/bg/pws-enhc-how-to-apply-ar.png);*/
    /* background-image: url(../images/bg/pws-enhc-how-to-apply2updated-ar.svg), url(../images/bg/pws-enhc-how-to-apply-ar.png); */
    background-image: linear-gradient(286deg, #090075, #000045 26%, #090075 26%, #090075 26%, #000045);
    background-position: left top, left top;
}

[lang="ar"] .pws-enhancements #content .pws-enhc-how-to-apply-simple,
[lang="ar"] .pws-enhancements #content .pws-enhc-how-to-apply-dual-column {
    background-image: url(../images/bg/pws-enhc-how-to-apply-dual-column2-ar.png), url(../images/bg/pws-enhc-how-to-apply-ar.png);
    background-position: right -48px top 56px, left top;
}

[lang="ar"] .whats-new-left,
[lang="ar"] .whats-new-left * {
    line-height: 18px !important;
}

[lang="ar"] .pws-enhancements .pws-offer-listing .pws-listing-item .pws-image-box .offer-category .pws-field-type {
    padding-left: 4px;
    padding-right: 0;
}

[lang="ar"] .pws-enhancements #content .pws-single-column-promo.pws-hero-height .icon-with-hexagon-bg img {
    -moz-transform: scaleX(1) translateY(-50%);
    -o-transform: scaleX(1) translateY(-50%);
    -webkit-transform: scaleX(1) translateY(-50%);
    transform: scaleX(1) translateY(-50%);
    filter: none;
    -ms-filter: "none";
}

[lang="ar"] .eh-apply-product-top {
    float: none;
}

[lang="ar"] .eh-apply-product-top .row.column-splitter > .col-xs-4 {
    float: left;
}

[lang="ar"] .pws-enhancements .eh-apply-product-top .eh-dark-box h3 {
    padding-left: 0 !important;
    padding-right: 30px !important;
    background-position: center right;
}

[lang="ar"] .pws-enhancements .eh-dark-box ul.signatures-list li {
    padding-right: 25px;
    padding-left: 15px;
    background: url(../images/icons/check-orange.png) no-repeat right 8px;
}

[lang="ar"] .eh-dark-box a {
    float: left;
}

[lang="ar"] .eh-apply-product-top .row.column-splitter > .col-xs-8 {
    padding-left: 56px;
    padding-right: 0;
}

[lang="ar"] .pws-enhancements #content .pws-indefinite-cols-link-list ul li ul.signatures-list li {
    padding: 0 25px 15px 0 !important;
    border: none;
    text-align: right;
}

[lang="ar"] .pws-enhancements #content .pws-indefinite-cols-link-list ul ul.signatures-list {
    padding-left: 0;
    padding-right: 12px;
}

[lang="ar"] .pws-enhancements #content .pws-enhc-how-to-apply .pws-enhc-hta-contact a {
    display: inline-block;
    direction: ltr;
}

[lang="ar"] .branch-locator-filters-box.pws-map-location-finder-hide .plain-html h4 {
    padding-right: 30px;
    padding-left: 110px;
}

[lang="ar"] .branch-locator-filters-box .facet-single-selection-list.branchesoratm .facet-search-filter .facet-value.active-facet:after,
[lang="ar"] .branch-locator-filters-box .facet-single-selection-list.branchesoratm .facet-heading .clear-filter:after,
[lang="ar"] .eh-filters-all .facet-value input:checked + label:after {
    left: 6px;
    top: 10px;
    right: auto;
}

/*[lang="ar"]*/