.eh-banner-placeholder {
    overflow: auto;
    display: block;
    clear: both;
}

.pws-enhancements #content .pws-enhc-how-to-apply, #content .pws-enhc-how-to-apply {
    padding-bottom: 50px;
    padding-top: 50px;
}

#content .pws-enhc-how-to-apply-simple {
    padding-bottom: 82px;
    padding-top: 50px;
}

#content .pws-enhc-how-to-apply-dual-column {
    /*padding-bottom: 82px;*/
    /*padding-top: 50px;*/
    padding-bottom: 56px;
    padding-top: 47px;
}

.pws-enhancements .enhc-promo-info-box {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    float: none;
}

#content h1:empty, #content h2:empty, #content h3:empty, #content h4:empty, #content h5:empty, #content h6:empty, #content p:empty {
    display: none !important;
}

#content div:not(.bg-parallex-block):empty, #content span:empty {
    /*display: none;*/
}

.pws-enhancements .pws-toggle-drop-left .link-list h3:empty {
    display: none !important;
}

#content .btn-content:empty {
    display: none;
}

#content .pws-simple-accordion-title .component-content details[open] .toggle-header {
    padding-bottom: 50px;
}

.component.toggle {
    clear: both;
}

.component.toggle .toggle-content {
    clear: both;
}

.enhc-blog-inner-banner {
    position: relative;
    z-index: 1;
}

.enhc-blog-inner-banner .field-bannerimage img {
    width: 100%;
    height: auto;
}

.enhc-blog-inner-banner .enhc-section {
    position: absolute;
    left: 0;
    top: 0;
}

.pws-enhancements .breadcrumb.component li > .navigation-title {
    vertical-align: baseline;
}

.pws-enhancements .pws-header-top-container .link .component-content .field-link a {
    font-family: notosansenglish-regular;
}

.pws-indefinite-cols-link-list.pws-orange-heading ul li h3 {

}

.enhc-picto-indefinite-cols-link-list {
    text-align: center;
    margin: 100px 0;
    padding: 0 0;
    clear: both;
    /*overflow: auto;*/
}

.enhc-picto-indefinite-cols-link-list + .enhc-picto-indefinite-cols-link-list {
    margin-top: -160px;
}

.enhc-picto-indefinite-cols-link-list * {
    text-align: inherit;
    line-height: 21px;
}

.enhc-picto-indefinite-cols-link-list ul {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.enhc-picto-indefinite-cols-link-list ul li {
    border: none;
    margin: 0;
    display: table-cell;
    padding: 0 15px;
    width: 1%;
    height: 100%;
    vertical-align: top;
    position: relative;
    z-index: 1;
    max-width: 262px;
    width: auto;
    padding-bottom: 20px;
}

.enhc-picto-indefinite-cols-link-list ul li .eh-content {

    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;

    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 50px 15px 25px;

    -moz-box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    /*cursor: pointer;*/
}

/*
.enhc-picto-indefinite-cols-link-list ul li .eh-content:before {

    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
*/

.enhc-picto-indefinite-cols-link-list .eh-image {
    max-width: 52px;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
    width: 100%;
}

.enhc-picto-indefinite-cols-link-list .eh-image img {
    max-width: 100%;
    height: auto;
}

.enhc-picto-indefinite-cols-link-list h3, .enhc-picto-indefinite-cols-link-list h3 a {
    font-family: notosansenglish-regular;
    font-size: 18px;
    color: #424242;
    line-height: 27px;
}

.enhc-picto-indefinite-cols-link-list > .component-content > h3 {
    text-align: inherit;
    font-family: notosansenglish-regular;
    font-size: 32px;
    color: #172328;
    font-weight: normal;
    line-height: 48px;
    margin: 0 20px 70px;
}

.enhc-picto-indefinite-cols-link-list h3 {
    margin: 0 0 20px;
    padding: 0;
}

.enhc-picto-indefinite-cols-link-list ul li .eh-content:hover {
    box-shadow: 0 2px 41px 0 rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0 2px 41px 0 rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 2px 41px 0 rgba(0, 0, 0, 0.11);
    -ms-box-shadow: 0 2px 41px 0 rgba(0, 0, 0, 0.11);
    border-color: transparent;
    /*transform: scale(1.02);*/
    z-index: 22;
    position: relative;
    background: #fff;

}

.pws-enhancements .enhc-picto-indefinite-cols-link-list h3 a {
    border: none !important;
    font: inherit;
    margin: 0;
    padding: 0;
    line-height: 27px !important;
}

.pws-enhancements .enhc-picto-indefinite-cols-link-list h3 a:hover {
    color: #424242 !important;
}

.pws-enhancements .enhc-picto-indefinite-cols-link-list .pws-link {
    margin-top: 20px;
}

.pws-simple-accordion-apply-now.pws-simple-accordion-title.pws-enhc-toggle {
    padding-right: 50px;
    padding-left: 50px;
}

.row-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    text-align: left;
    counter-reset: numbered;
}

.row-fluid .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    counter-increment: numbered;
    padding-right: 50px;
    padding-bottom: 50px;
}

.row-fluid.pws-grid-bordered .col {
    width: 231px;
    margin-right: 50px;
    border-bottom: 1px solid #29419b;
    margin-bottom: 20px;
    padding-bottom: 30px;

}

.row-fluid.pws-row-bordered {
    border-bottom: 1px solid #29419b;
    margin: 30px 0 50px;
}

.row-fluid.pws-row-bordered .col {
    width: 231px;
    margin-right: 50px;

}

.row-fluid .numbered {
    position: relative;
}

.row-fluid .numbered:before {
    content: counter(numbered); /* Display the value of section counter */
    display: block;
    margin-bottom: 30px;
    color: #5b60ac;
    font-size: 60px;
    overflow: hidden;
    vertical-align: baseline;
    padding: 10px 0 15px;
    font-weight: 300;
}

.pws-enhancements .pws-simple-accordion-title .toggle-content .rich-text h4 {

    font-size: 18px;
    color: #9099a0;
    font-weight: 300;
    line-height: 27px;
    margin: 0;
}

.pws-enhancements .pws-simple-accordion-title .toggle-content .rich-text .pws-grid-bordered h4 {
    margin-bottom: 20px;
}

.pws-enhancements .owl-carousel .owl-dot {
    display: inline-block;
}

.pws-enhancements .owl-carousel .owl-dot span {
    width: 6px;
    height: 6px;
    opacity: 0.3;
    margin: 6px;
    display: inline-block;
    border-radius: 30px;
    background-color: #00BAFF;
}

.pws-enhancements .owl-carousel .owl-dots .owl-dot.active span {
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .enhc-picto-indefinite-cols-link-list ul {
        display: block
    }

    .enhc-picto-indefinite-cols-link-list ul li {
        display: block;
        max-width: 100%;
        margin: 0 auto 30px !important;
        width: auto;
        padding: 0 10px;
        /* min-width: 300px;*/
    }

    .pws-enhancements #content .enhc-picto-indefinite-cols-link-list ul li {
        width: 90%;
    }

    .pws-enhancements #content .enhc-picto-indefinite-cols-link-list+.enhc-picto-indefinite-cols-link-list{
        margin-top: -50px !important;
    }

    .enhc-picto-indefinite-cols-link-list > .component-content > h3 {
        font-size: 24px;
        color: #172328;
        font-weight: 300;
        line-height: 35px;
        margin: 0 32px 50px;
    }

    .toggle .row-fluid {
        display: block;
    }

    .toggle .row-fluid .col {
        display: block;
    }

    #content .enhc-picto-indefinite-cols-link-list ul li .eh-content {
        padding-bottom: 30px;
        background: #fff;
        margin: 0 45px;
    }

    .enhc-picto-indefinite-cols-link-list + .enhc-picto-indefinite-cols-link-list {
        margin-top: -50px;
    }


}

@media screen and (min-width: 1025px) {
    .enhc-picto-indefinite-cols-link-list ul li:first-child {
        padding-left: 0;
    }

    .enhc-picto-indefinite-cols-link-list ul li:last-child {
        padding-right: 0;
    }
}

.deep-link {
    cursor: pointer
}

.pws-para {
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: normal;
    line-height: 21px;
}

.pws-enhancements .pws-simple-accordion-title .toggle-header .toggle-label .second-line .pws-para {
    position: relative;
    top: -20px;
}

.pws-enhancements .pws-simple-accordion-title .toggle-header .toggle-label .second-line {
    max-width: 100%;
}

.pws-grid-bordered {
    text-align: left;
}

.pws-enhancements p.checked {
    background-image: url(../images/icons/green-check.png);
    font-family: notosansenglish-regular;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #172328;
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 25px !important;
}

.pws-enhancements .pws-simple-accordion-apply-now.pws-simple-accordion-title.pws-enhc-toggle .toggle-content .rich-text a {
    /*    text-decoration: none;
        border: none;
        margin: 0;
        margin: 0;
        width: auto;*/
    color: #00BAFF;
}

.pws-enhancements .pws-simple-accordion-title .toggle-content .rich-text a {
    line-height: initial;
}

.pws-enhancements .pws-simple-accordion-apply-now.pws-simple-accordion-title.pws-enhc-toggle .toggle-content .rich-text a {
    /*line-height: initial;*/
    line-height: inherit;
    height: 41px;
}

.pws-enhancements .pws-simple-accordion-title .rich-text .pws-grid .col h4 {
    margin-bottom: 20px;
}

.pws-enhancements .pws-simple-accordion-title .toggle-content > .component.rich-text ul.signatures-list li {
    color: #172328
}

.pws-enhancements #content .pws-simple-accordion-title .toggle-content .pws-text-num.full a {
    color: #172328
}

.pws-enhancements .pws-simple-accordion-title .toggle-content .rich-text .pws-text-num span {
    margin-top: 10px;
}

.pws-enhancements .pws-inpagenav-container {
    width: 100%;
}

.fluid-container {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .pws-enhancements #content .pws-simple-accordion-title .toggle-content .pws-text-num.full a {
        text-decoration: underline;
    }

    .toggle .row-fluid.pws-row-bordered {
        margin: 30px 0 30px;
    }

    .pws-enhancements .pws-simple-accordion-title .toggle-content > .rich-text ul.signatures-list li {
        padding-right: 0;
    }

    .pws-simple-accordion-apply-now .toggle-content[open] > .rich-text .row h4 {
        margin-bottom: 0;
        padding: 15px 0;

    }

    .pws-simple-accordion-apply-now.pws-simple-accordion-title.pws-enhc-toggle {
        padding-right: 30px;
        padding-left: 30px;
    }

    .pws-enhancements .pws-simple-accordion-apply-now.pws-simple-accordion-title.pws-enhc-toggle .toggle-content .rich-text a {
        width: 154px;
    }

    .toggle .row-fluid.pws-row-bordered .col, .toggle .row-fluid.pws-grid-bordered .col {
        max-width: 100%;
        width: auto;
        margin: 0;
    }

    .toggle .row-fluid.pws-row-bordered .col {
        padding: 0px 0 30px;
    }

    .toggle .row-fluid.pws-grid-bordered .col {
        padding: 10px 0 20px;
    }

    .rich-text.pws-enhc-toggle-text .row > h4 {
        margin-bottom: 0;
        padding: 15px 0;
    }

    .pws-enhancements .pws-simple-accordion-title .toggle-content .rich-text .pws-grid-bordered h4 {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }
}

.pws-enhancements .pws-popup-subscribe {
    margin-top: 50px;
}

.table.table-with-info {
    width: 848px;
    margin: 0 auto 20px;
    border: none;
    background-color: transparent;
}

.table.table-with-info > tbody > tr > th {
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #172328;
    line-height: 21px;
    padding: 30px;
    border: 1px solid #ededed;
    background-color: #f9f9f9;
    text-align: center;
}

.table.table-with-info > tbody > tr {
    border-top: 1px solid #ededed;
}

.table.table-with-info > tbody > tr > td {
    border: none;
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #172328;
    line-height: 21px;
    width: 33.333%;
    padding: 30px 32px;
    vertical-align: middle;
}

.table.table-with-info > tbody > tr > td:first-child {
    font-weight: bold;
    padding-left: 16px;
    position: relative;
}

.table.table-with-info > tbody > tr > td p {
    font-family: notosansenglish-regular;
    font-size: 11px;
    color: #9099a0;
    line-height: 20px;
    font-weight: normal;
    margin: 10px 0 0 0;
}

.table.table-with-info > tbody > tr > td .info-toltip {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #b6b6b6;
    top: 2px;
    left: 8px;
}

.table.table-with-info > tbody > tr > td .info-toltip.active {
    background-color: #000000;
}

.table.table-with-info > tbody > tr > td .info-toltip.active:before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 2px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.8);
}

.table.table-with-info > tbody > tr > td .info-toltip:after {
    content: "i";
    display: block;
    position: absolute;
    left: 6px;
    top: -3px;
    font-size: 10px;
    color: #fff;
    font-family: notosansenglish-regular;
}

.table.table-with-info > tbody > tr > td .info-toltip-desc {
    display: none;
    position: absolute;
    width: 312px;
    filter: drop-shadow(0px 23px 40px rgba(0, 0, 0, 0.12));
    padding: 17px 14px 14px 39px;
    top: 58px;
    left: 16px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8) url("../images/icons/info-toltip-des.png") 18px 13px no-repeat;
}

.table.table-with-info > tbody > tr > td .info-toltip-desc.active {
    display: block;
}

.table.table-with-info > tbody > tr > td .info-toltip-desc p {
    font-size: 11px;
    color: #ffffff;
    line-height: 16px;
    margin: 0;
    width: 80%;
}

.table.table-with-info > tbody > tr > td .info-toltip-desc a {
    font-size: 11px;
    color: #b6b6b6;
    line-height: normal;
    border: none;
    padding: 0;
    width: auto;
    text-align: right;
    margin-top: -10px;
    display: block;
}

.table.table-with-info-2 {
    width: 946px;
    margin: 0 auto 20px;
    border: none;
    background-color: transparent;
}

.table.table-with-info-2 > tbody > tr > th {
    font-family: notosansenglish-regular;
    font-size: 18px;
    color: #172328;
    line-height: 21px;
    padding: 30px 50px;
    background-color: #fff;
    text-align: left;
    border: none;
    font-weight: 400;
}

.table.table-with-info-2 > tbody > tr {
    border-top: 1px solid #ededed;
    background: none;
}

.table.table-with-info-2 > tbody > tr:first-child {
    box-shadow: 0 2px 41px 0 rgba(0, 0, 0, 0.03);
    border: 1px solid #f3f3f3;
}

.table.table-with-info-2 > tbody > tr > td {
    border: none;
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #172328;
    background: none;
    line-height: 21px;
    width: 33.333%;
    padding: 30px 50px;
    vertical-align: middle;
}

.table.table-with-info-2 > tbody > tr > td:first-child {
    font-weight: 400;
    position: relative;
    color: #9099A0;
    padding: 30px 50px;
}

.table.table-with-info-2 > tbody > tr > td p {
    font-family: notosansenglish-regular;
    font-size: 11px;
    color: #9099a0;
    line-height: 20px;
    font-weight: normal;
    margin: 10px 0 0 0;
}

.table.table-with-info-2 > tbody > tr > td .info-toltip {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #b6b6b6;
    top: 2px;
    left: 8px;
}

.table.table-with-info-2 > tbody > tr > td .info-toltip.active {
    background-color: #000000;
}

.table.table-with-info-2 > tbody > tr > td .info-toltip.active:before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 2px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.8);
}

.table.table-with-info-2 > tbody > tr > td .info-toltip:after {
    content: "i";
    display: block;
    position: absolute;
    left: 6px;
    top: -3px;
    font-size: 10px;
    color: #fff;
    font-family: notosansenglish-regular;
}

.table.table-with-info-2 > tbody > tr > td .info-toltip-desc {
    display: none;
    position: absolute;
    width: 312px;
    filter: drop-shadow(0px 23px 40px rgba(0, 0, 0, 0.12));
    padding: 17px 14px 14px 39px;
    top: 58px;
    left: 16px;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8) url("../images/icons/info-toltip-des.png") 18px 13px no-repeat;
}

.table.table-with-info-2 > tbody > tr > td .info-toltip-desc.active {
    display: block;
}

.table.table-with-info-2 > tbody > tr > td .info-toltip-desc p {
    font-size: 11px;
    color: #ffffff;
    line-height: 16px;
    margin: 0;
    width: 80%;
}

.table.table-with-info-2 > tbody > tr > td .info-toltip-desc a {
    font-size: 11px;
    color: #b6b6b6;
    line-height: normal;
    border: none;
    padding: 0;
    width: auto;
    text-align: right;
    margin-top: -10px;
    display: block;
}

.table.table-with-info-2 > tbody > tr td.bg-gray {
    background: #f9f9f9;
    color: rgba(41, 65, 155, 1);
}

.table.table-with-info-2 > tbody > tr.color-blue td:first-child {
    color: rgba(41, 65, 155, 1);
}

.pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .pws-block-image {
    /*    height: auto;*/
}

.pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .promo-content {
    /*min-height: initial;*/
    padding-top: 30px;
    padding-bottom: 50px;
}

.pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .promo-content p {
    margin-bottom: 15px;
}

.pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .pws-block-image h2, .pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .pws-block-image h3 {
    color: #29419B;
    font-size: 24px;
    font-family: notosansenglish-regular;
    margin: 0;
    padding: 25px 0;
}

#content .pws-promo-box-app-icon.online-app-sec .field-promoicon {
    display: none
}

.pws-enhancements .pws-gray-bg .accordion .toggle-content, .pws-enhancements .pws-gray-bg .accordion .items .item .toggle-header {
    background-color: #f6f6f6;
}

#content .eh-terms-box {
    margin: 50px 0;
}

.pws-indefinite-cols-link-list.pws-btn-content-absolute-positioning-link-list.pws-enhc-infographics +
.pws-indefinite-cols-link-list.pws-btn-content-absolute-positioning-link-list.equal-height-boxes {
    padding-top: 0;
}

.pws-enhancements .short-tabs {
    max-width: 1250px;
}

.pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-two-col-item-only .promo-content ul.signatures-list {
    /*  margin-top: 15px;*/
}

.pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .promo-content ul.signatures-list {
    margin-top: 0;
}

#content .breadcrumb .component-content {
    max-width: 1160px;
    margin: 25px auto 0;
    padding: 0;
}

.pws-simple-gray-list, .pws-simple-numbered-list {
    padding: 100px 0;
}

.pws-awards-list-col-grid-3 {
    padding: 100px 0;
}

.pws-simple-gray-list .pws-content h4, .pws-simple-numbered-list .pws-content h4 {
    margin-top: 0;
}

.pws-simple-gray-list > .component-content > h3, .pws-simple-numbered-list > .component-content > h3, .pws-awards-list-col-grid-3 > .component-content > h3 {
    font-size: 32px;
    color: #172328;
    font-family: notosansenglish-regular;
    text-align: center;
    margin: 0 auto 70px;
    padding: 0 100px;
    max-width: 80%;
}

.pws-simple-gray-list ul {
    padding: 0;
    border-collapse: collapse;
    margin: 0;
    display: table;
    clear: both;
    overflow: visible;

}

.pws-simple-gray-list.pws-col-grid-3 ul, .pws-awards-list-col-grid-3 ul {
    display: flex;
    flex-wrap: wrap;
}

.pws-simple-gray-list ul li {
    width: 1%;
    text-align: inherit;
    float: none;
    margin: 0 !important;
    display: table-cell;
    height: 100%;
    padding: 0 15px 0;
    font-weight: 400;
    border-collapse: separate;
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #4A4A4A;
}

.pws-awards-list-col-grid-3 ul > li {
    display: inline-block;
    vertical-align: top;
    height: auto;
    padding: 0px 0 0;
    margin: 0px 50px 35px !important;
    text-align: center;
    flex: 1;
}

.pws-awards-list-col-grid-3 ul > li .pws-icon-img {
    margin-bottom: 30px;
}

.pws-awards-list-col-grid-3 ul > li .pws-title {
    width: 220px;
    max-width: 100%;
    margin: 0 auto;
}

.pws-simple-gray-list.pws-col-grid-3 ul > li {
    display: inline-block;
    vertical-align: top;
    flex-basis: calc(33.33% - 70px);
    height: auto;
    padding: 50px 0 0;
    margin: 50px 35px 0 !important;
}

.pws-awards-list-col-grid-3 ul > li .pws-icon-img img {
    width: auto;
    height: 95px;
}

.pws-simple-gray-list.pws-col-grid-3 ul > li:nth-child(n+4) {
    border-top: 1px solid #000066;
}

.pws-simple-gray-list.pws-col-grid-3 ul > li:nth-child(-n+3) {
    padding-top: 0;
}

.pws-simple-gray-list.with-blue-border-bottom ul li {
    border-bottom: 1px solid #29419b;
    margin-bottom: 20px;
}

.pws-simple-gray-list ul li h3, .pws-simple-gray-list ul li h4 {
    color: #9099A0;
    margin: 0 0 15px;
    padding: 0;
    font-size: 18px;
}

.pws-simple-gray-list ul li p {
    color: inherit;
}

.pws-enhancements .boxed.pws-bg-color-gray .pws-single-column-promo.pws-indefinite-single-col-link {
    margin-bottom: 50px;
}

.pws-enhancements .pws-section-latestalert.boxed.pws-bg-color-gray .pws-single-column-promo.pws-indefinite-single-col-link {
    margin-bottom: 0
}

.pws-enhancements .boxed.pws-bg-color-gray .pws-single-column-promo.pws-indefinite-single-col-link > .component-content {
    background: #f6f6f6;
}

.pws-enhancements .tabs-section.pws-bg-color-gray .pws-single-column-promo.pws-promo-heading-large.pws-gray-white-bg.pws-indefinite-single-col-link > .component-content {
    background: #fff;
}

.pws-simple-numbered-list ul {
    padding: 0;
    border-collapse: collapse;
    margin: 0;
    clear: both;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    counter-reset: numbered-grid;
}

.pws-simple-numbered-list ul li {
    width: 25%;
    text-align: inherit;
    float: none;
    margin: 0 !important;
    display: table-cell;
    height: 100%;
    padding: 0 15px 15px 15px;
    font-weight: 400;
    border-collapse: separate;
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #4A4A4A;
    vertical-align: top;
    flex-basis: 25%;
    position: relative;
    counter-increment: numbered-grid;
}

.pws-simple-numbered-list ul li:before {
    content: counter(numbered-grid);
    display: block;
    margin-bottom: 0px;
    /*color: #5b60ac;*/
    color: #29419b;
    font-size: 60px;
    overflow: hidden;
    vertical-align: baseline;
    padding: 0px 0 5px;
    font-weight: 300;
}

.pws-simple-numbered-list .pws-content h4 {
    color: #9099a0;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .pws-simple-gray-list > .component-content > h3, .pws-simple-numbered-list > .component-content > h3 {
        padding-right: 0;
        padding-left: 0
    }

    .pws-simple-gray-list.pws-col-grid-3 ul {
        display: block
    }

    .pws-simple-gray-list.pws-col-grid-3 ul > li {
        display: block;
        vertical-align: top;
        max-width: 100%;
        padding: 30px 0px !important;
        border-bottom: 1px solid #000066;
        margin: 0 50px !important;
        width: auto;
        border-top: none !important;
    }

    .pws-simple-gray-list.pws-col-grid-3 ul li:last-child {
        border: none !important;
    }

    .pws-simple-numbered-list ul {
        width: 100%;
        display: block;
        padding: 0;
    }

    #content .pws-simple-numbered-list ul li {
        width: 100%;
        display: block;
        padding: 20px 50px;
    }
}

/* eh-sitemap-navigation-box */
#content .eh-sitemap-navigation-box {
    margin: 100px 0;
    font-family: notosansenglish-regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    color: #4c4e54;
    display: block;
    clear: both;
    float: none;
}

#content .eh-sitemap-navigation-box a {
    font-family: notosansenglish-regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    color: #4c4e54;
}

#content .eh-sitemap-navigation-box li > .navigation-title > a {
    margin: 0;
    padding: 0 20px 0 0;
    border: none;
    color: inherit;
    font: inherit;
    line-height: inherit;
    display: inline-block;
    position: relative;
    /* test */
    word-break: break-word;
    /*white-space: pre-line;*/
}

#content .eh-sitemap-navigation-box .submenu > ul {
    padding-left: 0;
    vertical-align: top
}

#content .eh-sitemap-navigation-box li {
    /*    margin-bottom: 20px;*/
    position: relative;
    font-family: notosansenglish-regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    color: #4c4e54;
}

#content .eh-sitemap-navigation-box li > .navigation-title {
    margin-bottom: 20px;
}

#content .eh-sitemap-navigation-box .level1 {
    display: block !important;
    width: 100%;
    clear: both;
    /* float: none; */
    /* padding: 40px 0; */
    /* border-bottom: 2px solid #ededed; */
    /* margin-bottom: 0; */
}

#content .eh-sitemap-navigation-box .level3 {
    display: inline-block;
    float: left;
    padding-right: 20px;
    width: 100%;
    max-width: 230px;
}

#content .eh-sitemap-navigation-box .level2 {
    display: block;
}

#content .eh-sitemap-navigation-box .level2 > ul {
    display: block;
    width: 100%;
    vertical-align: top;
    text-align: left;
    float: left;
    padding-bottom: 0;
    border-bottom: 1px solid #ededed;
    margin-bottom: 50px;
}

#content .eh-sitemap-navigation-box li > .navigation-title > a:after {

    content: "";
    height: 10px;
    width: 6px;
    display: inline-block;
    position: static;
    background-position: right center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-left: 5px;
}

#content .eh-sitemap-navigation-box .level1 > .navigation-title {
    font-family: notosansenglish-regular;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #29419b;
    margin-bottom: 20px;
    vertical-align: top;

}

#content .eh-sitemap-navigation-box .level2 > .navigation-title {
    display: none;
    color: #000;
}

#content .eh-sitemap-navigation-box .level3 > .navigation-title {
    font-family: notosansenglish-regular;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.55;
    letter-spacing: normal;
    color: #b2b2b2;
    text-transform: uppercase;
    /*margin-bottom: 20px;*/
}

#content .eh-sitemap-navigation-box .level4 > .navigation-title {
    font-family: notosansenglish-regular;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    color: #4c4e54;
    text-transform: none;
}

#content .eh-sitemap-navigation-box .level1 a:after {
    background-image: url(../images/arrows-sitemap/sitemap-arrow-blue.png);

}

#content .eh-sitemap-navigation-box .level2 a:after {
    background-image: url(../images/arrows-sitemap/sitemap-arrow-black.png);
}

#content .eh-sitemap-navigation-box .level3 a:after {
    background-image: url(../images/arrows-sitemap/sitemap-arrow-gray.png);
}

#content .eh-sitemap-navigation-box .level4 a:after {
    background-image: url(../images/arrows-sitemap/sitemap-arrow-black.png);

}

#content .eh-sitemap-navigation-box .level3.submenu > ul.clearfix {
    /* min-height: 300px;*/
    margin-bottom: 30px;
    vertical-align: top;

}

#content .eh-sitemap-navigation-box .level3.submenu li:last-child > .navigation-title {
    /* margin-bottom: 0;*/
}

.scroll-top {
    z-index: 192;
}

.eh-inner-layout-box {
    padding: 100px 0;
    margin: 0 auto;
    width: 1042px;
    float: none;
}

.eh-inner-layout-box .field-title, .eh-inner-layout-box .pws-title-article {
    font-family: notosansenglish-regular;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #29419b;
    margin: 0 0 15px;
    padding: 0;
}

.eh-inner-layout-box .pws-article-date {
    font-family: notosansenglish-regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4c4e54;
}

.eh-inner-layout-box .pws-article-left-section {
    padding: 76px 50px 76px 0
}

.eh-inner-layout-box .pws-article-right-section {
    padding: 67px 0px 67px 129px;
    border-left: 1px solid #f0f0f0;
}

.eh-inner-layout-box .pws-article-right-section .pws-article-content {
    margin-top: 0;
    font-family: notosansenglish-regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #9099a0;
}

.eh-inner-layout-box .pws-article-right-section p {
    font-family: notosansenglish-regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #9099a0;

}

.row-splitter {
    display: block;
    clear: both;
}

.pws-enhancements .pws-section-pressreleases .field-link a {
    background: #eeeeee;
    font-family: notosansenglish-regular;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.62;
    letter-spacing: normal;
    text-align: center;
    color: #b6b6b6;
    padding: 0 35px;
    border: 0;
}

.pws-enhancements .pws-section-pressreleases .field-link a:hover {
    background: #9F3C04 !important;
    color: #FFF;
}

.pws-enhancements .pws-press-release-filter {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 50px;
}

.pws-enhancements .pws-press-release-filter-enhc {
    text-align: left;
    margin-bottom: 0;
}

.pws-enhancements .pws-press-release-filter-enhc .bottom-remove-filter button,
.pws-enhancements .pws-press-release-filter-enhc .bottom-remove-filter button.active-facet {
    font-family: notosansenglish-regular;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.29;
    letter-spacing: 0.2px;
    color: #172328;
    margin-right: 58px;
}

.pws-enhancements .pws-press-release-filter-enhc .bottom-remove-filter button:hover:before,
.pws-enhancements .pws-press-release-filter-enhc .bottom-remove-filter button.active-facet:before,
.pws-enhancements .pws-press-release-filter-enhc .facet-search-filter .facet-value:before {
    display: none;
}

.pws-enhancements .pws-press-release-filter-enhc .facet-search-filter .facet-value {
    font-family: notosansenglish-regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.29;
    letter-spacing: 0.2px;
    text-align: center;
    color: #999999;
    padding: 0 30px;
}

.pws-enhancements .pws-offer-listing.press-release-listing .pws-listing-item .pws-content-box .field-title a {
    text-decoration: underline;
}

.pws-enhancements #content .pws-enhc-campare-cards {
    margin-top: 100px;
}

.pws-enhancements #content .pws-indefinite-cols-link-list.equal-height-boxes.pws-indefinite-w-bg-ncols ul {
    padding-top: 0;
    background: #fff;
}

.pws-enhancements .eh-contact-us-details .pws-text-num {
    font-family: notosansenglish-regular;
    font-size: 11px;
    color: #a3a9ab;
    line-height: 18px;
    letter-spacing: 1.2px;
    /*   border: 1px solid #ededed;*/
}

.pws-enhancements .eh-contact-us-details p {
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #4c4e54;
    line-height: 21px;
    padding: 0;
    letter-spacing: normal;
}

.pws-enhancements .eh-contact-us-details h3 {
    font-family: notosansenglish-regular;
    font-size: 24px;
    color: #172328;
    line-height: 36px;
    margin: 0 0 20px 0;
}

.pws-enhancements .eh-contact-us-details p.pws-text-num a, .pws-enhancements .eh-contact-us-details p.pws-text-num span {
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #172328;
    line-height: 21px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    letter-spacing: normal;
}

.eh-contact-us-details .col-xs-6:first-child {
    padding-right: 80px;
    border-right: 1px solid #ededed;
}

.eh-contact-us-details .col-xs-6:last-child {
    padding-left: 80px;
}

.eh-contact-us-details .enhc-product-form fieldset legend {
    object-fit: contain;
    font-family: notosansenglish-regular;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #4c4e54;
    font-weight: 400;
}

.eh-contact-us-details .enhc-product-form fieldset {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
}

.blog-slider-enhc.owl-carousel .item .right-content .pws-ellipsis-two-rows {
    max-height: 66px;
}

.blog-slider-enhc.owl-carousel .item .eh-short-description {
    font-family: notosansenglish-regular;
    font-size: 14px;
    color: #4c4e54;
    font-weight: 400;
    line-height: 21px;
}

.pws-enhancements #content .pws-indefinite-cols-link-list ul ul.signatures-list {
    display: inline-block;
    width: auto;
    padding-top: 15px;
}

.pws-enhancements #content .pws-indefinite-cols-link-list ul li ul.signatures-list li {
    padding: 0 0 15px 25px !important;
    display: block;
    width: 100%;
    font-family: notosansenglish-regular;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #172328;
    border: none;
}

.pws-enhancements #content .pws-features-gray .pws-indefinite-cols-link-list {
    padding-top: 50px;
}

.pws-apply-main-box .component-content ul.signatures-list li {
    color: inherit;
}

.pws-enhancements ul.signatures-list li ul {
    margin-top: 10px !important;
}

.pws-enhancements ul.signatures-list li ul li {
    background: none !important;
    color: #ccc !important;
}

.pws-enhancements #content .pws-enhc-how-to-apply .rich-text ul, .pws-enhancements #content .pws-enhc-how-to-apply .rich-text ul li {
    color: #fff;
}

/* EXTREME FIXES */
.pws-enhancements #content .pws-bg-color-gray.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.pws-indefinite-w-bg-ncols > .component-content > h3 {
    margin-top: 0
}

#content .pws-indefinite-cols-link-list.pws-btn-content-absolute-positioning-link-list .btn-content {
    position: static;
}

.pws-enhancements #content .pws-indefinite-cols-link-list.pws-btn-content-absolute-positioning-link-list.equal-height-boxes.pws-indefinite-w-bg-ncols.eh-btns-left .btn-content {
    position: static;
    float: left;
    padding: 0;
}

.pws-enhancements #content .tabs-section.pws-section-accounts.pws-bg-color-gray .rich-text > .component-content > h3 {
    margin: 0;
}

.pws-enhancements #content .tabs-section.pws-section-accounts.pws-bg-color-gray .pws-single-column-promo.pws-standard-card.pws-standard-card-featured {
    margin-top: 0;
}

.pws-enhancements #content .tabs-section.pws-section-features.pws-section-margin.pws-bg-color-gray.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.pws-indefinite-link-line ul li {
    width: 50%;
}

.pws-enhancements #content .tabs-section.pws-section-features.pws-section-margin.pws-bg-color-gray.pws-section-grid-gray-standard-cards .pws-single-column-promo.pws-promo-heading-large.pws-standard-card {
    margin-bottom: 0;
}

.pws-enhancements #content .pws-features-gray .pws-indefinite-cols-link-list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pws-enhancements #content .tabs-section.pws-section-howtoapply .pws-enhc-how-to-apply .rich-text > .component-content > h3 {
    margin-bottom: 00px;
}

.pws-enhancements .tabs-section.pws-bg-color-gray.pws-section-grid-gray-standard-cards.pws-features-gray .rich-text > .component-content > h3,
.pws-enhancements .pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list > .component-content > h3 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
}

.pws-enhancements #content .tabs-section.pws-section-redfexplained .pws-indefinite-cols-link-list.pws-indefinite-w-bg-line > .component-content > h3 {
    padding-top: 50px;
}

#content .accordion, #content .accordion .item, .pws-enhancements .accordion .toggle-content {
    background-color: inherit;
}

.pws-promo-box-app-icon.online-app-sec .component-content .field-promotext h3,
.pws-promo-box-app-icon.online-app-sec .component-content .field-promotext h4,
.pws-promo-box-app-icon.online-app-sec .component-content .field-promotext h5 {
    color: #fff;
}

.tabs-section.pws-section-padding-both, .tabs-section.section-padding-both, .pws-section-padding-both {
    overflow: hidden;
}

#content .pws-bread-crumb-banners + .container:not(.branch-locator-filters-box) {
    clear: both;
    display: block;
    float: none;
}

.eh-banner-placeholder {
    display: block;
    overflow: hidden;
    float: none;
    clear: both;
}

.pws-enhancements .pws-enhc-how-to-apply ul.signatures-list, .pws-enhancements .pws-enhc-how-to-apply ol.number-list {
    margin-top: 20px;
}

.pws-enhancements .pws-enhc-how-to-apply ul.signatures-list li, .pws-enhancements .pws-enhc-how-to-apply ol.number-list li {
    background-image: url(../images/icons/check-orange.png);
}

.pws-enhancements #content .pws-features-gray .pws-indefinite-cols-link-list.pws-indefinite-w-bg-line {
    /* padding-top: 0;*/
}

.pws-enhancements #content .no-margin-bottom {
    margin-bottom: 0 !important;
}

.pws-enhancements #content .no-margin-top {
    margin-top: 0 !important;
}

.pws-enhancements #content .no-padding-bottom {
    padding-bottom: 0 !important;
}

.pws-enhancements #content .no-padding-top {
    padding-top: 0 !important;
}

.pws-enhancements.eh-adjust-gray-section-link-list .pws-bg-color-gray .pws-single-column-promo.pws-indefinite-single-col-link {
    margin-bottom: 0 !important;
}

.pws-enhancements.eh-adjust-features-white-section-link-list {
}

.pws-enhancements.eh-adjust-gray-section-link-list #content .pws-bg-color-gray .pws-indefinite-cols-link-list.pws-btn-content-absolute-positioning-link-list.equal-height-boxes.pws-indefinite-w-bg-ncols {
    padding-top: 50px;
}

.pws-enhancements #content .pws-enhc-how-to-apply .tabs-container .tab.active > .container {
    /*margin-top: 50px;*/
}

.tabs-section .rich-text, .content, .rich-text {
    clear: both;
}

.pws-enhancements .pws-enhc-sticky-filter-bar > .component-content {
    max-width: 1180px;
    margin: 0 auto;
}

.pws-enhancements .pws-about-page-content .field-content {
    margin-bottom: 100px;
}

.pws-enhancements .pws-single-column-promo.pws-gray-dark-bg .component-content .pws-featured-placeholder {
    z-index: 0;
}

.pws-enhancements .pws-single-column-promo.pws-gray-dark-bg .component-content .pws-featured-placeholder:before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(112deg, rgba(144, 153, 160, 0.6), rgba(23, 35, 40, .9));
    opacity: 1;
    z-index: 2;
}

.pws-enhancements .pws-about-page-content {
    margin-top: 70px;
    margin-bottom: 99px;
}

.pws-enhancements .pws-about-page-content {
    margin-top: 70px;
    margin-bottom: 99px;
}

.pws-enhancements #content .pws-about-page-content .field-content {
    margin: 0
}

#content .eh-sitemap-navigation-box.eh-sitemap-empty-category-pages .level3 > .navigation-title > a {
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    #content .enhc-picto-indefinite-cols-link-list ul li .eh-content {
        margin: 0;
        min-width: 220px;
    }
}


.pws-enhancements .branch-locator-filters-box .pws-http-warning {
    display: block;
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    z-index: 50;
    /* background-color: #f9f9f9; */
    vertical-align: top;
    display: none;
}

.pws-enhancements .branch-locator-filters-box .pws-http-warning .component-content, .pws-enhancements .branch-locator-filters-box .pws-geolocation-warning .component-content {
    width: 270px;
    margin: 50px auto;
    text-align: center;
    vertical-align: top;
}

.pws-enhancements .branch-locator-filters-box .pws-http-warning .component-content:before {
    content: "";
    display: inline-block;
    background: url("../images/icons/geolocation-icon.png") center top no-repeat;
    width: 30px;
    height: 30px;
    display: none;
}

.pws-enhancements .branch-locator-filters-box .pws-http-warning .component-content p, .pws-enhancements .branch-locator-filters-box .pws-geolocation-warning .component-content p {
    font-family: notosansenglish-regular;
    font-size: 12px;
    color: #b6b6b6;
    font-weight: 800;
    line-height: 18px;
    margin: 0;
    padding: 12px 0 0;
}

.pws-enhancements .branch-locator-filters-box .pws-http-warning .geolocation-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url("../images/icons/gray-close.png") center no-repeat;
    height: 12px;
    width: 12px;
}

.pws-enhancements .branch-locator-filters-box .pws-http-warning .btn-force-https {
    font-family: notosansenglish-regular;
    font-size: 12px;
    color: #b6b6b6;
    font-weight: 800;
    line-height: 18px;
    margin: 0;
    padding: 12px 0 0;

}
