@media screen and (max-width: 1370px) {
    [lang="ar"] .cc-grid-main .owl-nav .owl-next {
        right: 0;
    }

    [lang="ar"] .cc-grid-main .owl-nav .owl-prev {
        left: 0;
    }
}

@media screen and (max-width: 1290px) {
    [lang="ar"] .cc-grid-main .owl-nav .owl-next {
        right: 15px;
    }

    [lang="ar"] .cc-grid-main .owl-nav .owl-prev {
        left: 15px;
    }
}

@media screen and (max-width: 1179px) {
    [lang="ar"] .compare-con.active-compare-section {
        float: right;
    }

    [lang="ar"] .overview-clusta .cc-grids-left .cc-grids-col-left, [lang="ar"] body .cc-grids-two-col .cc-grids-col-left, [lang="ar"] body .cc-grids-two-col .cc-grids-col-right {
        padding: 40px 30px 100px 80px;
    }

}

@media screen and (max-width: 1024px) {
    [lang="ar"]  .online-app-sec .bg-parallex-block {
        /* left: -45%;
        right: auto;
        background-position: right bottom; */
        left: 0;
        right: auto;
        background-position: left bottom;
        background-size: cover;
        background-position: center;
    }

    [lang="ar"] .pws-board-of-directors-listing li.first .pws-listing-item .pws-image-box .field-image {
        left: -70px;
    }
}

@media screen and (max-width: 800px) {
    [lang="ar"] #content .column-splitter .col-xs-6 .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning .component-content {
        padding: 46px 30px 120px;
    }

    [lang="ar"] .short-tabs li a, [lang="ar"] .pws-link-list-for-tabs li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    [lang="ar"] .pws-header-top-container.boxed > .component-content .col-right-nav {
        float: left;
    }

    [lang="ar"] .pws-header-top-container .link a {
        left: -2px;
        position: relative;
    }

    [lang="ar"] .hamburger {
        left: auto;
        right: -82px;
    }

    [lang="ar"] .pws-header-top-container, [lang="ar"] .pws-header-nav-container {
        margin-left: auto;
        margin-right: 0;
        transition: margin-right 500ms;
        padding: 0;
    }

    [lang="ar"] .pws-header-top-container.mobile-slide, [lang="ar"] .pws-header-nav-container.mobile-slide {
        margin-right: calc(100% - 105px);
        transition: margin-right 500ms;
    }

    [lang="ar"] .main-header .top-nav-container, [lang="ar"] .main-header .top-nav-container .top-nav-inner:before {
        left: auto;
        right: calc(-100% + 105px);
        transition: right 500ms;
        width: calc(100% - 105px);
    }

    [lang="ar"] .hamburger {
        left: -82px;
        right: auto;
    }

    [lang="ar"] .pws-header-nav-container.mobile-slide .main-header .top-nav-container {
        left: auto;
        right: 0;
        transition: right 500ms;
    }

    [lang="ar"] .mobile-slide .main-header .top-nav-container .top-nav-inner:before {
        left: auto;
        right: 0;
        transition: right 500ms;
    }

    [lang="ar"] .pws-logo-main {
        padding: 0 15px;
    }

    [lang="ar"] .main-header .top-nav-container .top-nav-inner li span {
        right: auto;
        left: 0;
    }

    [lang="ar"] .main-header .top-nav-container .top-nav-inner > li > a,
    [lang="ar"] .main-header .top-nav-container .top-nav-inner .m-m-menu a,
    [lang="ar"] .main-header .top-nav-container .top-nav-inner .m-m-menu h4 {
        text-align: right;
    }

    [lang="ar"] .main-header .top-nav-container .top-nav-inner .m-m-menu h4 a {
        padding: 0 0 0 30px;
    }

    [lang="ar"] .main-header .m-m-menu ul {
        padding: 0 60px 0 50px;
    }

    [lang="ar"] .main-header .top-nav-container .top-nav-inner li .col-md-3 ul li em {
        left: auto;
        right: -40px;
    }

    [lang="ar"] .main-header .top-nav-container .top-nav-inner li .col-md-3 ul li em:after {
        transform: rotate(135deg);
    }

    [lang="ar"] .pws-header-top-container .row.column-splitter .col-right-nav > div {
        min-width: 169px;
    }

    [lang="ar"] .pws-search-btn {
        right: auto;
        left: -170px;
    }

    [lang="ar"].search-box-open .search-top-box:before {
        left: 0;
        right: auto;
        top: -11px;
    }

    [lang="ar"].search-box-open .search-top-box {
        right: -90px;
    }

    [lang="ar"] #header .search-box .search-box-input {
        padding-left: 10px;
    }

    [lang="ar"] .mobil-nav ul li {
        padding-left: 0;
        padding-right: 15px;
        text-align: right;
    }

    [lang="ar"] .pws-toggle-drop-left .row.column-splitter .link-list h3:before {
        right: auto;
        left: 0;
    }

    [lang="ar"] .hamburger.hamburger--squeeze.is-active:before {
        left: 0;
        width: 105px;
    }

    [lang="ar"] .main-header .top-nav-container .top-nav-inner li .mega-menu .col-md-12 {
        width: 100%;
    }

    [lang="ar"] .component.link-list.add-your-css-classes-here.col-xs-12.position-right ul,
    [lang="ar"] #footer .pws-footer .link-list.position-right li,
    [lang="ar"] .pws-footer-social-icon-list .link-list ul {
        float: none;
    }

    [lang="ar"] #footer .pws-footer .pws-footer-social-icon-list .position-right li {
        margin-left: 40px;
        margin-right: 0;
    }

    [lang="ar"] #footer .pws-footer .pws-footer-social-icon-list .position-right li.last {
        margin-left: 0;
    }

    [lang="ar"] .carousel .field-slidetext {
        right: 0;
        margin-right: 0;
    }

    [lang="ar"] .carousel .nav .next-text {
        right: 20px;
    }

    [lang="ar"] .carousel .nav .prev-text {
        left: 50px;
    }

    [lang="ar"] .online-app-sec .app-mobile-content {
        left: 0;
        width: 100%;
    }

    [lang="ar"] #footer .pws-global-cta-container .promo .field-promoicon {
        text-align: center;
    }

    [lang="ar"] .pws-toggle-drop-left .toggle-content > .toggle-header {
        width: 86px;
    }

    [lang="ar"] .pws-single-column-promo .icon-with-hexagon-bg {
        right: 0;
    }

    [lang="ar"] .pws-single-column-promo .component-content .btn-content {
        text-align: right;
    }

    [lang="ar"] .pws-promo-two-links.pws-gray-bg.pws-two-col-item-only .component-content .icon-with-hexagon-bg {
        margin-right: auto !important;
        right: auto;
    }

    [lang="ar"] #content .column-splitter .col-xs-6 .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning .component-content .btn-content {
        padding: 0;
    }

    [lang="ar"] body .pws-promo-card-with-image .field-promoicon img {
        right: 20px;
    }

    [lang="ar"] .pws-row-accordion-container .pws-image-top-card {
        padding-right: 0;
        padding-left: 10px;
    }

    [lang="ar"] .pws-row-accordion-container .accordion {
        width: calc(100% - 30px);
    }

    [lang="ar"] #content .cc-grids-two-col .cc-grids-col-right {
        padding: 0 20px;
    }

    [lang="ar"] .pws-header-nav-container.mobile-slide .pws-logo-main .component-content a img {
        margin-left: auto !important;
        margin-right: 120px !important;
        transition: margin-right 500ms;
    }

    [lang="ar"] .main-header .top-nav-container .top-nav-inner li .mega-menu *,
    [lang="ar"] .steps-list ol > li > h4 > small {
        text-align: right;
    }

    [lang="ar"] .pws-link-promo-two-links .content {
        left: 0;
        right: 0;
    }

    [lang="ar"] .pws-simple-accordion-title .steps-list ol, [lang="ar"] .pws-simple-accordion-title .steps-list ol li ul {
        margin-left: 0;
        margin-right: 10px;
    }

    [lang="ar"] .pws-simple-accordion-title .steps-list ol li ul {
        padding-left: 0;
        padding-right: 70px;
    }

    [lang="ar"] .branch-locator-filters-box {
        right: auto;
        left: auto;
    }

    [lang="ar"] .branch-locator-filters-box .facet-single-selection-list.branch-type {
        left: 10px;
    }

    /*
    .pws-level-3 .pws-cta-bg-banner img {
        left: -85px;
    }
    */
    [lang="ar"] #footer.stick-bottom .scroll-top, [lang="ar"] .scroll-top {
        left: 10px;
    }

    [lang="ar"] .overview-clusta .pws-listing-item .pws-content-box .field-title {
        text-align: right;
    }

    [lang="ar"] .pws-apply-main-box .component-content ul.signatures-list li {
        text-align: center;
    }

    [lang="ar"] .pws-form-layout fieldset .col-md-12 {
        width: 100%;
    }

    [lang="ar"] .pws-simple-accordion-title .toggle-content[open] > .component p {
        text-align: right !important;
    }

    [lang="ar"] .component.content.pws-promo-info-box.col-xs-12 {
        width: 100%;
    }

    [lang="ar"] .pws-row-accordion-container .component-content .rich-text > .component-content {
        text-align: right;
    }

    [lang="ar"] body .main-header .top-nav-container .top-nav-inner li a {
        padding: 20px 20px 20px 50px;
    }

    [lang="ar"] .main-header .m-m-menu h4 {
        padding: 0 20px;
    }

    [lang="ar"] .main-header .top-nav-container .top-nav-inner .m-m-menu a {
        padding: 10px 0;
    }

    [lang="ar"] .fancybox-close {
        left: 0;
    }

    [lang="ar"] .tabs-section .rich-text > .component-content {
        padding: 0 15px;
    }

    [lang="ar"] .overlay .overlay-close {
        left: 10px;
    }

    [lang="ar"] .pws-form-layout .component-content {
        padding: 40px;
    }

    [lang="ar"] .card-select-icon.card-select-message {
        padding-left: 0;
        padding-right: 0;
    }

    [lang="ar"] .pws-cards-compr-message p:before, [lang="ar"] .card-select-icon.card-select-message:before {
        right: calc(50% - 26px);
    }

    [lang="ar"] .pws-cards-compr-message p {
        width: 100%;
        padding: 0 50px;
        margin-right: 0;
    }

    [lang="ar"] .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-two-col-item-only .btn-content {
        padding: 0;
    }

    [lang="ar"] .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-left: 0;
        border-right: 1px solid #ddd;
    }

    [lang="ar"] .pws-logo-main .component-content {
        text-align: center;
    }

    /*[lang="ar"]*/
    [lang="ar"] .pws-promo-gray-card .content-placeholder p {
        text-align: right;
    }
}

@media screen and (max-width: 599px) {
    [lang="ar"] .link-list.pws-link-list-boxed-gray-bg li a:before {
        left: 20px;
    }

    [lang="ar"] .link-list.pws-link-list-boxed-gray-bg li a {
        padding: 10px 20px 10px 30px;
    }

    [lang="ar"] .pws-form-layout.pws-sme-form fieldset .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    [lang="ar"] .pws-form-layout.pws-sme-form fieldset .form-group:nth-child(even) {
        margin-right: 0;
        margin-left: 0;
    }

    [lang="ar"] .pws-form-layout.pws-sme-form .component-content {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 500px) {
    [lang="ar"] .pws-simple-accordion-title .steps-list ol li ul {
        padding-left: 0;
        padding-right: 0;
    }

    [lang="ar"] .steps-list ol > li:before {
        right: -60px;
    }

    [lang="ar"] .btn-content .inline-btn a {
        white-space: normal;
    }

    /*
    [lang="ar"] .facet-single-selection-list .contentContainer {
        width: calc(100% - 47px);
    }
    */
    [lang="ar"] .branch-locator-filters-box .facet-single-selection-list.branchesoratm .bottom-filter-button .filterButton {
        margin-right: 15px;
    }

    [lang="ar"] .branch-locator-filters-box .pws-filter-toggle {
        top: 75px;
    }

    [lang="ar"] .branch-locator-filters-box .facet-single-selection-list.branch-type {
        top: 110px;
    }

    [lang="ar"] .pws-email-advice .component-content .form-group {
        margin: 15px;
        width: calc(100% - 30px);
    }

    [lang="ar"] .pws-email-advice .component-content .form-submit-border {
        margin-right: 15px;
    }
}
