.enhc-product-form .joinus-academic-detail input[type='file'] {
    border-bottom: 0 !important;
}

.eh-apply-product-full fieldset.active-form .continue-form-section {
    margin-left: 10px;
}

.joinus-btn-complete .page-header h1,
.joinus-btn-complete p {
    text-align: center !important;
}

.joinus-btn-complete .page-header {
    margin-top: 60px !important;
}

.job-message-box {
    width: 80% !important;
}

.enhc-product-form .joinus-academic-detail.pws-form-heading {
    padding-bottom: 30px !important;
}

.pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .promo-content ul.signatures-list {
    margin-bottom: 0 !important;
}

body.pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .pws-block-image h3 {
    font-family: notosansenglish-light;
}

.enhc-contact-us-form.enhc-product-form .page-header h1 {
    font-size: 32px;
}

.enhc-contact-us-form .page-header {
    margin-bottom: 65px !important;
}

.enhc-contact-us-form .page-header+p {
    padding: 0 10px;
}

.pws-enhancements .eh-apply-product-full .enhc-contact-us-form .form-submit-border {
    margin-top: 0 !important;
}

.pws-awards-list-col-grid-3 .pws-title p {
    /* font-family: notosansenglish-regular !important; */
    font-size: 18px !important;
}

.pws-simple-gray-list .pws-item-content h3 {
    /* font-family: notosansenglish-regular; */
}

.pws-enhancements .pws-offer-listing .pws-listing-item .pws-content-box .field-title a {
    /* font-family: notosansenglish-regular !important; */
}

.pws-enhancements .pws-indefinite-cols-link-list ul li .btn-content {
    text-align: center !important;
}

.pws-enhancements .pws-form-layout .form-group .radio-btns [type="radio"]:not(:checked)+label:last-child {
    margin-top: 0 !important;
}

.pws-enhancements .pws-form-layout .form-group .radio-btns [type="radio"]+label {
    margin-bottom: 16px !important;
}

.pws-enhancements .eh-apply-product-full .joinus-btn-complete .form-submit-border {
    margin-left: 10px;
}

.personal-finance-calculator h2 {
    text-align: center;
}

.enhc-contact-us-form>p {
    margin-left: 10px;
}

.contact-divisions {
    display: flex;
    justify-content: space-between;
    width: 63%;
}

html .pws-enhancements #content .pws-indefinite-cols-link-list.equal-height-boxes.pws-indefinite-w-bg-ncols ul {
    padding-top: 50px;
}

.pws-enhancements #content .pws-indefinite-cols-link-list.pws-indefinite-w-bg-line>.component-content {
    padding: 0;
}

#content .enhc-overview-clusta .pws-title {
    padding-top: 0;
}

.pws-enhancements .enhc-promo-info-box {
    /* margin-top: 70px;
  margin-bottom: 70px; */
}

.pws-enhancements .InPageNav .container+.tabs-boxes .enhc-promo-info-box {
    /* margin-bottom: 70px; */
}

.pws-section-onlinepaymentgateway .pws-container-wrap .row-splitter {
    margin-bottom: 0;
}

.pws-enhancements .pws-single-column-promo.pws-indefinite-single-col-link {
    margin-bottom: 74px;
}

.pws-enhancements #content ..tabs-section.pws-section-features.unboxed.pws-section-margin.pws-bg-color-gray.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.pws-indefinite-link-line {
    padding: 0;
}

.pws-section-insurance .pws-standard-card.pws-standard-card-featured .field-promolink a {
    background: #00BAFF !important;
    color: #ffffff !important;
}

.pws-section-insurance .pws-standard-card.pws-standard-card-featured .field-promolink a:hover {
    background: #9F3C04 !important;
}

.pws-enhancements .pws-about-reports .component-content .file-list .list-item .field-linktext a:hover {
    color: #00BAFF;
}

.pws-enhancements #content .pws-enhc-campare-cards {
    margin-top: 70px;
}

.pws-enhancements #content .enhc-overview-clusta.enhc-offer-carousel .featured-offers .item:first-child .enhc-listing-item:hover {
    box-shadow: 0 23px 40px 0 rgba(0, 0, 0, 0.12);
}

.gm-style-iw .field-open-until:before {
    margin-left: 0 !important;
    margin-right: 7px !important;
}

.pws-enhc-sticky-filter-bar {
    width: 100%;
}

.pws-enhc-sticky-filter-bar .enhc-card-offers-advance-filter.pws-enhc-offer-filter.search-gray-bg-main-container {
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    z-index: 100;
}

.pws-enhc-sticky-filter-bar .enhc-card-offers-advance-filter.pws-enhc-offer-filter.search-gray-bg-main-container .component-content {
    max-width: 1180px;
    margin: 0 auto;
    overflow-y: scroll;
}

.component-content .enhc-product-form .form-submit-border.disabled {
    background-color: #EEEEEE !important;
    opacity: 1 !important;
    cursor: none !important;
    border: 1px solid #eeeeee !important;
}

.component-content .enhc-product-form .form-submit-border .disabled.btn-default {
    color: #b6b6b6 !important;
    cursor: none !important;
    pointer-events: none !important;
}

.eh-apply-product-full .form fieldset .form-group .help-block {
    display: none;
}

.eh-apply-product-full .form fieldset .form-group .help-block.field-validation-error {
    display: block;
}

.eh-apply-product-full fieldset .continue-form-section {
    margin-top: 50px;
    margin-left: 10px;
}

.eh-apply-product-top form {
    padding: 0 20px;
}

#content .eh-form-state-short-details {
    width: calc(100% - 25px) !important;
}

.eh-apply-product-top #criteria,
.eh-apply-product-top .form-submit-border {
    margin-left: 20px;
}

.eh-form-state-box ul.signatures-list.signatures-list-green li {
    background-position: 0 center;
}

.pws-enhancements .eh-apply-product-top .form-submit-border {
    margin-top: 43px;
}

#content .eh-form-state-box .eh-form-state-purple-box .component-content {
    text-align: center !important;
}

.pws-address-box .contact-phone a{
    color: #172328;
    text-decoration: underline;
    font-size: 14px;
    line-height: 21px;
}



@media screen and (max-width: 1200px) {
    #component .container {
        max-width: 1042px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .pws-enhancements .eh-inner-layout-box {
        width: 100%;
    }

    /* .pws-enhancements .eh-inner-layout-box .column-splitter{

    } */
    .pws-enhancements .eh-inner-layout-box .pws-article-left-section,
    .pws-enhancements .eh-inner-layout-box .pws-article-right-section {
        padding: 30px 30px 15px;
    }

    .pws-enhancements .eh-inner-layout-box .pws-article-right-section {
        border-top: 1px solid #f0f0f0;
        border-left: 0;
    }

}


@media screen and (max-width: 1024px) {

    .pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-two-col-item-only .btn-content {
        padding-right: 0 !important;
    }

    .pws-enhancements .pws-single-column-promo.pws-standard-card .component-content .promo-content .btn-content {
        text-align: center;
    }

    .pws-enhancements .pws-single-column-promo.pws-standard-card.pws-standard-card-featured {
        margin-top: 20px;
    }

    .pws-enhancements #header .search-box .search-box-input {
        width: 70%;
        float: right;
    }

    .pws-row-accordion-container .pws-top-heading-box {
        width: 100%;
    }

    .full-tablet-standard-cards .component-content .column-splitter {
        display: block !important;
    }

    .full-tablet-standard-cards .component-content .column-splitter>.col-xs-4 {
        width: 100%;
    }

    .full-tablet-standard-cards .component-content .column-splitter .btn-content {
        position: static;
        text-align: left;
    }

    .full-tablet-standard-cards .component-content .pws-standard-card-featured {
        height: auto !important;
        max-height: inherit !important;
    }

    .full-tablet-standard-cards .component-content .pws-standard-card {
        margin: 0 !important;
    }

    .full-tablet-standard-cards .component-content .pws-standard-card-featured .pws-block,
    .full-tablet-standard-cards .component-content .pws-standard-card-featured .promo-content {
        width: 100%;
    }

    .full-tablet-standard-cards .component-content .pws-standard-card-featured .pws-block {
        height: 130px;
    }

    .full-tablet-standard-cards .component-content .pws-standard-card-featured .promo-content {
        padding: 30px !important;
        height: auto;
        min-height: auto;
        transform: translateY(-0%);
        position: static;
    }

    #content .enhc-listing-item .enhc-image-box {
        height: auto !important;
    }

    .pws-enhancements .enhc-promo-info-box .enhc-grid {
        display: block !important;
    }

    .pws-enhancements .enhc-promo-info-box .enhc-grids-col-left,
    .pws-enhancements .enhc-promo-info-box .enhc-grids-col-right {
        width: 100% !important;
    }

    .pws-enhancements .enhc-promo-info-box .enhc-grids-col-left {
        padding: 0 !important;
    }

    .pws-enhancements .enhc-promo-info-box .enhc-grids-col-right {
        margin: 0 !important;
        margin-top: 25px !important;
        padding: 30px !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 1px solid #f0f0f0;
    }

    .pws-enhancements .component-content .whats-new-left {
        margin: 100px 0 0 0;
    }

    .pws-enhancements .component-content .whats-new-right {
        margin: 100px 30px 100px 0 !important;
    }

    .pws-enhancements .pws-single-column-promo .component-content .promo-content {
        padding-left: 5% !important;
    }

    .pws-enhancements .pws-single-column-promo.pws-hero-height {
        height: 500px;
    }

    .pws-enhancements .pws-board-directors ul.items li.item:first-child a .pws-board-director-listing {
        box-shadow: none !important;
    }

    .pws-enhancements .pws-board-directors ul.items {
        display: flex;
        flex-wrap: wrap;
    }

    .pws-enhancements .component.pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card.col-xs-12 .promo-content .btn-content {
        text-align: left;
        padding-left: 40px;
    }

    .pws-section-contactdetails .pws-row-accordion-container .short-boxed .pws-top-heading-box {
        width: 100%;
    }

    .pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .promo-content {
        padding-bottom: 100px;
    }
}

@media screen and (min-width: 768px) {
    .pws-level-3 .pws-cta-bg-banner img {
        height: auto !important;
        width: auto !important;
    }

    .eh-apply-product-full .enhc-product-form fieldset legend.fixed {
        width: 670px !important;
    }
}

@media screen and (max-width: 767px) {

    .pws-enhancements .eh-apply-product-top .form-submit-border {
        margin-bottom: 20px !important;
        margin-right: 20px !important;
    }

    .enhc-picto-indefinite-cols-link-list+.enhc-picto-indefinite-cols-link-list {
        margin-top: 0 !important;
    }

    body.pws-enhancements .eh-apply-product-full .form-submit-border {
        margin-bottom: 30px !important;
        float: right !important;
    }

    #content .enhc-picto-indefinite-cols-link-list ul li .eh-content {
        margin: 0;
    }

    .eh-apply-product-full .enhc-product-form fieldset legend.fixed {
        width: 100% !important;
        left: 0;
        padding: 30px 20px !important;
    }

    .pws-enhancements .pws-single-column-promo .component-content .promo-image {
        height: 110px !important;
    }

    .pws-single-column-promo .component-content .btn-content {
        text-align: center !important;
    }

    .pws-enhancements .pws-bg-color-gray .rich-text h3 {
        margin: 0;
    }

    .pws-enhancements footer .pws-enhc-footer .pws-footer-nav .component-content .rich-text ul li {
        font-size: 15px;
    }

    main {
        min-height: 372px !important;
    }

    .rich-text.pws-blog-slider-enhc-heading>.component-content {
        padding-top: 0 !important;
    }

    .tabs-section.pws-section-padding-both {
        padding-top: 0 !important;
    }

    .pws-enhancements #header .search-box .search-box-input {
        width: 100%;
        float: right;
    }

    .pws-enhancements .component.pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card.col-xs-12.pws-promo-two-links .promo-content .btn-content {
        padding-left: 0;
    }

    html .pws-enhancements #content .pws-indefinite-cols-link-list.equal-height-boxes.pws-indefinite-w-bg-ncols ul {
        padding-bottom: 50px;
    }

    .pws-enhancements .pws-single-column-promo .component-content .promo-content .pws-promo-content-block ul.signatures-list {
        width: 100%;
    }

    /* .pws-enhancements .component.pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card.col-xs-12 .promo-content .btn-content {
        padding-left: 0;
    } */
    body #content .enhc-overview-clusta .featured-offers>.item:first-child .enhc-content-box {
        width: 100% !important;
    }

    .pws-enhancements .component-content .whats-new-right {
        width: 100% !important;
    }

    .pws-enhancements .component-content .whats-new-right .whats-new-links {
        margin: 0 40px !important;
    }

    .theme2 .smart-quote-dark {
        width: 100% !important;
    }

    .pws-enhancements .pws-single-column-promo.pws-hero-height {
        height: auto !important;
    }

    .pws-enhancements .pws-board-directors ul.items li.item {
        width: 100%;
    }

    .pws-enhancements .component.toggle.pws-simple-accordion-title.initialized {
        margin: 50px 0px 50px 0 !important;
    }

    html .pws-main-findabranch-container .map .gm-style .gm-style-iw {
        left: 0 !important;
    }

    .contact-divisions {
        flex-direction: column;
    }

    .pws-subscription-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .pws-enhancements #content .pws-indefinite-cols-link-list.pws-indefinite-w-bg-ncols ul li {
        padding-bottom: 0;
    }

    .pws-enhancements .pws-single-column-promo.pws-standard-card {
        margin-bottom: 74px;
    }

    .pws-enhc-how-to-apply .pws-enhc-tabs .column-splitter {
        display: flex !important;
        flex-direction: column;
    }

    .pws-enhancements .pws-single-column-promo.pws-standard-card.pws-standard-card-featured {
        height: auto;
        margin-top: 50px;
    }

    body.pws-enhancements .pws-single-column-promo .component-content .promo-content {
        margin-top: 0;
    }

    .pws-enhancements #content .pws-features-gray .pws-indefinite-cols-link-list {
        padding-top: 0;
        padding-bottom: 50px;
    }

    /* large list items */
    .pws-enhancements #content .pws-indefinite-cols-link-list.pws-indefinite-w-bg-line .component-content>ul>li {
        margin: 0 30px !important;
    }

    .pws-enhancements .pws-single-column-promo.pws-standard-card.pws-standard-card-featured {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tabs-boxes .pws-section-grid-gray-standard-cards .section-margin-bottom-100,
    .tabs-boxes .pws-section-grid-gray-standard-cards .section-margin-top-100 {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card.arb-cta-left {
        margin-bottom: 0;
    }

    .pws-enhancements .component.form.pws-form-layout.pws-form-white-layout.car-finance-calculator {
        margin-bottom: 50px;
    }

    .pws-enhancements #content .pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.equal-height-boxes ul li {
        height: auto !important;
        margin-top: 0 !important;
        margin-left: 11px !important;
    }

    .pws-enhancements #content .tabs-section.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.equal-height-boxes ul li {
        margin-left: 30px !important;
    }

    /* .pws-enhancements #content .tabs-section.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.equal-height-boxes ul li.even,
    .pws-enhancements #content .tabs-section.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.equal-height-boxes ul li.odd {
        margin-left: 0 !important;
    } */
    .pws-enhancements #content .tabs-section.pws-section-features.pws-features-gray.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.equal-height-boxes ul li {
        /* margin-left: 30px !important; */
    }

    .pws-enhancements #content .tabs-section.pws-section-features.boxed.pws-bg-color-gray.pws-section-grid-gray-standard-cards.pws-features-gray .pws-indefinite-cols-link-list.equal-height-boxes ul li {
        /* margin-left:50px !important; */
    }

    .pws-enhancements #content .tabs-section.pws-section-features.pws-features-gray.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.equal-height-boxes ul li {
        /* padding-right: 30px !important; */
        border: none !important;
    }

    .pws-enhancements #content .pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.equal-height-boxes.pws-indefinite-w-bg-ncols ul li {
        margin-left: 30px !important;
    }

    .pws-enhancements #content .pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.equal-height-boxes.pws-indefinite-w-bg-ncols.equal-height-boxes ul li {
        margin-left: 0 !important;
    }

    .pws-enhancements .InPageNav .container+.tabs-boxes .pws-container-wrap .enhc-promo-info-box,
    .pws-enhancements .enhc-promo-info-box {
        margin-bottom: 0 !important;
    }

    .pws-enhancements .carousel .slide .field-slidetext {
        min-height: auto;
    }

    .pws-enhancements #content .pws-bg-color-gray.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.pws-indefinite-w-bg-ncols>.component-content>h3 {
        margin-top: 50px;
    }

    .pws-enhancements #content .tabs-section.pws-section-features.pws-section-margin.pws-bg-color-gray.pws-section-grid-gray-standard-cards .pws-indefinite-cols-link-list.pws-indefinite-link-line ul li {
        width: 100%;
        margin: 0 20px 0 0 !important;
        padding: 50px 20px !important
    }

    .section-padding-bottom-100 {
        padding-bottom: 20px !important;
    }

    .section-padding-top-100 {
        padding-top: 20px !important;
    }

    .pws-inpagenav-container .pws-section-grid-gray-standard-cards.tabs-section .pws-single-column-promo.pws-promo-heading-large {
        margin-top: 0;
    }

    .pws-inpagenav-container .pws-section-grid-gray-standard-cards.pws-features-gray.tabs-section .pws-single-column-promo.pws-promo-heading-large {
        margin-top: 0;
        margin-bottom: 50px !important;
    }

    .pws-enhancements #content .pws-indefinite-cols-link-list.pws-indefinite-link-line-title>.component-content>h3 {
        display: inline-block;
        font-size: 24px;
        margin: 20px 0 0 0;
        padding: 0 30px;
    }

    .pws-enhancements .pws-single-column-promo-image-left.pws-standard-card {
        margin-bottom: 0;
    }

    .tabs-section .component.rich-text .component-content h2 {
        padding-top: 30px !important;
    }

    .pws-enhancements #content .pws-enhc-how-to-apply .column-splitter {
        padding: 50px 0 0 !important;
    }

    .pws-enhancements .pws-simple-accordion-title .toggle-header .toggle-label .toggle-btn {
        min-width: 184px;
    }

    .pws-enhancements #content .pws-indefinite-cols-link-list.pws-indefinite-w-bg-line ul li {
        border-top: 0 !important;
    }

    .pws-enhancements #content .pws-indefinite-cols-link-list ul li ul.signatures-list li {
        margin-left: 0 !important;
    }

    .pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .promo-content {
        margin-bottom: 0 !important;
        padding-bottom: 50px !important;
    }

    html .pws-enhancements #content .pws-indefinite-cols-link-list.equal-height-boxes.pws-indefinite-w-bg-ncols ul {
        padding-top: 0 !important;
    }

    .pws-inpagenav-container .pws-section-grid-gray-standard-cards.tabs-section .pws-single-column-promo.pws-promo-heading-large {
        margin-bottom: 0 !important;
    }

    .pws-enhancements .pws-btn-content-absolute-positioning .btn-content {
        text-align: left;
    }

    .pws-enhancements #content .pws-indefinite-cols-link-list.pws-indefinite-w-bg-ncols ul li .pws-title.field-title h3 {
        line-height: 23px;
    }

    .pws-enhancements #content .pws-indefinite-cols-link-list.pws-indefinite-w-bg-ncols ul li .pws-icon-img.field-icon {
        height: 80px !important;
    }

    #content .pws-indefinite-cols-link-list.pws-btn-content-absolute-positioning-link-list ul li li {
        border-top: 0 !important;
    }

    .pws-enhancements #content .pws-section-overview .pws-indefinite-cols-link-list.pws-indefinite-w-bg-line .component-content>ul>li {
        margin: 40px 30px !important;
    }

    .pws-enhancements #content .pws-section-features .pws-indefinite-cols-link-list.pws-indefinite-w-bg-line>.component-content>h3 {}

    .pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card .promo-content p:last-child {
        margin-bottom: 40px;
    }

    .pws-enhancements .pws-single-column-promo.pws-indefinite-single-col-link {
        margin-bottom: 0;
    }

    #content .pws-indefinite-cols-link-list.pws-btn-content-absolute-positioning-link-list .btn-content {
        position: absolute;
    }

    .pws-enhancements #content .enhc-overview-clusta.enhc-offer-carousel .featured-offers .item:first-child .enhc-content-box .enhc-title a {
        text-decoration: underline;
    }

    .pws-enhancements #content .enhc-overview-clusta.enhc-offer-carousel .featured-offers .item:first-child .enhc-listing-item:hover {
        box-shadow: 0 23px 40px 0 rgba(0, 0, 0, 0.12) !important;
    }
}

@media screen and (max-height: 800px) {
    .touch.mobile-device .component-content .facet-single-selection-list {
        margin-top: 30px !important;
    }

    .facet-single-selection-list {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) and (min-width:768px) {
    .pws-level-3 .pws-cta-bg-banner img {
        height: auto !important;
        width: auto !important;
    }

    .pws-enhancements .pws-single-column-promo.pws-hero-height {
        height: auto !important;
    }

    .pws-enhancements .pws-single-column-promo .component-content .pws-featured-placeholder {
        height: auto;
        position: relative;
    }

    .pws-enhancements .pws-single-column-promo .component-content .promo-content .pws-promo-content-block a {
        display: block;
    }

    .pws-enhancements .pws-single-column-promo .component-content .promo-image {
        height: 110px;
        position: static;
    }

    .pws-enhancements .pws-single-column-promo .component-content .promo-image .icon-with-hexagon-bg {
        position: static;
        width: 100% !important;
    }

    .pws-enhancements .pws-single-column-promo .component-content .promo-image .icon-with-hexagon-bg img {
        width: auto;
        height: 100%;
    }

    #content .pws-indefinite-cols-link-list.pws-btn-content-absolute-positioning-link-list .btn-content {
        position: absolute;
    }

    .pws-inpagenav-container .pws-section-grid-gray-standard-cards.pws-features-gray.tabs-section .pws-single-column-promo.pws-promo-heading-large {
        margin-top: 0;
        margin-bottom: 50px !important;
    }

    .pws-enhancements #content .pws-single-column-promo .component-content {
        padding: 0 !important;
    }

    .tabs-section.pws-section-grid-gray-standard-cards .rich-text>.component-content {
        padding: 20px 15px;
    }

    .pws-enhancements .pws-btn-content-absolute-positioning .btn-content {
        text-align: left;
        padding-left: 40px;
    }

    .pws-enhancements .component.pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card.col-xs-12.pws-promo-two-links .promo-content .btn-content {
        padding-left: 40px;
    }

    .pws-enhancements .pws-standard-card .promo-content {
        padding-bottom: 100px !important;
    }

    .pws-enhancements .pws-single-column-promo.pws-indefinite-single-col-link .promo-content {
        border-left: 0;
    }

    .pws-enhancements .InPageNav .container+.tabs-boxes .enhc-promo-info-box {
        margin-bottom: 0;
    }

    .pws-enhancements .column-splitter {
        display: flex !important;
        flex-direction: column;
    }

    .pws-enhancements footer .column-splitter {
        display: flex !important;
        flex-direction: row;
    }

    .pws-enhancements .column-splitter .col-xs-4,
    .pws-enhancements .column-splitter .col-xs-6 {
        width: 100%;
    }

    .pws-enhancements .eh-apply-product-top .column-splitter .col-xs-6 {
        width: 50%;
    }


    .pws-enhancements .pws-promo-two-links.pws-gray-bg.pws-btn-content-absolute-positioning.pws-standard-card.arb-cta-left {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    /* html .pws-main-findabranch-container .map .gm-style .gm-style-iw {
        left: 0 !important;
    } */
}

@media screen and (max-width: 320px) {
    .pws-enhancements .pws-simple-accordion-title .toggle-header .toggle-label .toggle-btn {
        padding: 10px;
        padding-right: 29px;
    }

    .pws-enhancements .pws-simple-accordion-title .toggle-header .toggle-label .toggle-btn:after {
        right: 11px;
    }
}

@media screen and (max-width: 449px) {
    .pws-section-howtoapply.tabs-section .rich-text>.component-content {
        padding: 0;
    }
}
