.pws-section-display-splitter-inline-grid .row.column-splitter  {
    display: inline-grid;
}

.tabs-section .row.column-splitter>div {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#content .pws-bread-crumb-banners {
    z-index: 97;
}

/*
.pws-enhancements .carousel-inner ul li .pws-enhc-banner-content .pws-icon img {
    max-width: 48px;
    height: auto;
}

.pws-enhancements .carousel-inner .pws-enhc-carousel-banner.pws-enhc-carousel-banner-inner .pws-enhc-banner-content .pws-text h3 {
    font-size: 32px;
    color: #29323c;
}
.pws-enhancements .carousel-inner ul li .pws-enhc-banner-content .pws-text {
    position: static;
    padding: 0;
    margin: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    width: auto;
    min-height: initial;
    margin-top: 0;
}*/
