body {
    overflow: auto;
    overflow-x: hidden;
    font-family: notosansenglish-regular;
    background: #fff
}

.nav-down main {
    position: relative;
    top: 0;
    margin-top: 0;
}

.nav-up main {
    position: relative;
    top: 0;
    margin-top: 75px;
}

.navigation-main, .navigation-mobile * {
    color: inherit !important;
    font: inherit !important;
    border: none !important;
    line-height: inherit !important;
    margin: 0 !important;
}

.navigation.navigation-mobile .rel-level1 .navigation-title {
    padding-right: 0;
    padding-left: 0
}

.nav-up .pws-header-nav-container .image a img {

    max-width: initial;
}

.toggle summary.toggle-header:before {
    content: " " !important;
    right: -20px;
    left: auto;
}

.language-selector .language-selector-item {
    border: none;
}

.language-selector a.flags-sa {
    float: right;
    box-shadow: none;
}

.pws-toggle-drop-left .toggle-header, .pws-toggle-drop-right .toggle-header {
    background: none !important;
    padding: 12px 5px 12px 5px !important;
}

.pws-toggle-drop-left .toggle-content[open] > .toggle-header, .pws-toggle-drop-left .toggle-content[open] > .toggle-header:before {
    background-color: #222a51 !important;
}

.toggle summary.toggle-header {
    min-height: 40px;
}

details[open] summary:before {
    transform: rotate(180deg) !important;
    top: 0 !important;
}

.pws-header-top-container .navigation-main li a {
    font-size: 13px !important;
}

.pws-header-top-container .link a, .pws-header-top-container .media-link a, .pws-header-top-container .file-list a {
    font-size: 11.9px;
    padding: 10px 0;
    font-family: notosansenglish-regular;
    font-weight: 400;
}

.pws-header-top-container .pws-cta-red-btn .field-link a:hover {
    background: #c04400;
    text-decoration: none;
}

.pws-header-top-container .pws-btn-find-branch-top .field-link a:hover {
    text-decoration: none;
}

.pws-toggle-drop-left .toggle-header .toggle-label p, .pws-toggle-drop-right .toggle-header .toggle-label p {
    margin: 0;
}

.toggle summary.toggle-header .toggle-label {
    margin: 2px 0 0 5px !important
}

.pws-search-btn {
    margin-top: 8px;
}

.navigation.navigation-mobile .rel-level1 a {
    line-height: 40px !important;
    padding: 0 15px;
    display: block !important;
    border-right: 1px solid #091542 !important;
}

.navigation.navigation-mobile .rel-level1 .navigation-title {
    padding: 0;
}

.carousel .nav .prev-text:after, .carousel .nav .next-text:after {
    content: "" !important;

}

.carousel .slides, .carousel .slides li {
    text-align: left;
}

.carousel .field-slidetext p {
    padding: 5px 0;
    margin: 0 0 10px 0;
}

.carousel .nav .nav-items .sxa-numbers {
    display: none;
}

.online-app-sec .component-content .field-promoicon {
    margin: 0;
    padding: 0;
}

.page-list.whats-new ul li {
    border-bottom: 2px solid #585858;
}

.toggle details[open] summary ~ .component > .component-content {
    animation-duration: 0ms !important;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.pws-simple-accordion-title .component-content .toggle-content .toggle-header .toggle-label {
    float: none;
    margin: 0;
}

.pws-simple-accordion-title .component-content .toggle-content .toggle-header:before,
.pws-simple-accordion-title .component-content .toggle-content[open] > .toggle-header:before {
    display: block !important;
    top: auto !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    bottom: -40px !important;
    right: auto;
}

.accordion {
    border-radius: 4px;
}

.accordion .items {
    margin: 0;
    padding: 0;
}

.accordion .items .item {
    border-bottom: 1px solid #ccc;
    margin: 0;
    list-style: none;
}

.accordion .items .item .label {
    padding: 20px 50px 20px 20px;
}

.accordion .items .item .toggle-header {
    border: none;
}

.accordion .items .item:last-child {
    border-bottom: none;
}

.pws-simple-accordion-title .component-content details[open] .toggle-header {
    position: static;
}

.pws-simple-accordion-title .toggle-content[open] > .component {
    border: 1px solid #e8e8e8;
    border-top-color: #fbfbfb;
    margin-top: -1px;
}

.pws-single-column-promo .field-promoicon img {
    width: auto;
}

.privacy-warning.permisive {
    background: #70635c;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

.privacy-warning.permisive .submit a {
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    line-height: normal;
}

.privacy-warning.permisive .submit a:hover {
    text-decoration: none;
    background-color: #FFFFFF;
    color: #70635c;
}

.privacy-warning.permisive .close {
    opacity: 1;
    box-shadow: none;
}

.privacy-warning.permisive .close:hover {
    opacity: 1;
}

.privacy-warning.permisive .close a {
    color: #FFFFFF;
}

.privacy-warning.permisive .close a:hover {
    color: #FFFFFF;
}

.breadcrumb.component a {
    font-size: 12px;
    color: #999999;
}

.breadcrumb.component li > .navigation-title > a:hover {
    color: #999999;
}

.breadcrumb ol li.last a:hover {
    color: #29419b;
}

.breadcrumb.component .separator {
    margin: 0 5px 0 0;
}

.content, .rich-text {
    color: #222222;
}

.promo.pws-promo-card-split-mod.pws-promo-card-split-mod-half-content .pws-promo-icon-small img,
.pws-promo-two-links .field-promoicon img {
    height: auto;
    width: auto;
}

.pws-promo-info-box .field-promoicon, .pws-global-cta-container .component-content .promo .list-inline {
    padding: 0;
    margin: 0;
}

.promo > .component-content > div {
    padding: 0;
}

.rich-text p {
    margin: 0 0 10px;
    padding: 5px 0;
    line-height: initial;

}

.pws-link-promo-two-links .component-content .left-content, .pws-link-promo-two-links .component-content .right-content, .pws-link-promo-two-links .component-content .content {
    padding: 50px 20px 50px 30px;
}

.pws-apply-main-box .tabs .tabs-heading li .component.content {
    margin: 0;
}

.pws-apply-main-box .tabs .tabs-heading li > div {
    padding: 0;
}

.pws-global-cta-container .breadcrumb a {
    color: inherit !important;
}

.pws-global-cta-container .breadcrumb {
    position: static !important;
}

.pws-enhancements .pws-global-cta-container .breadcrumb ol li.breadcrumb-item + li.breadcrumb-item:after {
    background-image: url(../images/icons/breadcrumb-arrow-white.png);
}

.pws-enhancements .breadcrumb ol li.breadcrumb-item {
    padding-left: 10px;
}

.pws-enhancements .breadcrumb.component .separator, .pws-global-cta-container .breadcrumb.component li.separator {
    display: none;
}

.pws-global-cta-container .component-content .promo .field-promotext {
    margin-bottom: 10px;
}

.pws-global-cta-container .component-content .promo .list-inline > li {
    margin-left: 0;
}

.pws-global-cta-container .component-content .promo .list-inline > li p {
    font-size: 14px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

/*
.pws-global-cta-container .container-fluid,
.whats-new-right .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
*/

.pws-global-cta-container .breadcrumb.component li > .navigation-title > a:hover {
    color: #FFFFFF;
}

.pws-global-cta-container .breadcrumb.component li.last > .navigation-title > a:hover {
    color: #ccc;
}

.component.video .mejs-overlay-button {
    background: none;
    height: auto;
    width: auto;
}

div.video-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 400px;
    text-align: center;
    margin-left: -200px;
    margin-top: -100px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}

.whats-new-links {
    margin-top: -17px;
}

.pws-promo-gray-card .promo-content {
    padding: 50px 40px 50px !important;
}

.pws-single-column-promo .promo-content, .pws-single-column-promo .pws-content {
    padding-top: 20px !important;
}

.promo h3, .promo h4, .promo p {
    margin: 0 0 10px;
}

.promo .field-promolink {
    padding-bottom: 0;
}

.tabs.pws-custom-tabs .tabs-heading li div .field-heading img {
    padding-right: 10px;
}

.tabs.pws-custom-tabs .tabs-heading li > div {
    margin: 0 10px;
    position: relative;
    font-size: 16px;
    color: #585858;
    line-height: 22px;
    text-transform: capitalize;
    padding: 0 0 10px;
}

.tabs.pws-custom-tabs .tabs-heading li.active > div:before {
    background: #29419b;
    position: absolute;
    bottom: 0;
    content: " ";
    width: 80%;
    height: 4px;
    left: 0;
    margin: 0 auto;
    right: 0;
}

.tabs.pws-custom-tabs .tabs-heading li.active > div {
    color: inherit;
}

.tabs.pws-custom-tabs .tabs-heading li > div .field-heading {
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
    color: #585858;
    background: none;
    border: none;
    box-shadow: none;
    display: inline-block;
    margin: 0 8px;
    padding: 6px 0;
    position: relative;
    min-width: 60px;
    font-weight: 400;
}

.tabs.pws-custom-tabs .tab.active > .component.content .field-content p {
    padding: 5px 0;
    margin: 0 0 10px;
}

.tabs.pws-custom-tabs .tabs-heading li .component.content {
    margin: 0;
}

.accordion .toggle-header .component .field-heading {
    padding-left: 0;
}

.accordion .toggle-header .component .field-heading:before {
    display: none;
}

.pws-apply-main-box .link-list ul {
    padding: 0;
}

/*
#content .tabs-section.pws-section-grid-gray-standard-cards .rich-text h2 {
    margin-bottom: 0;
}

#content .pws-section-grid-gray-standard-cards .row-splitter .rich-text h2 {
    position: static;
}

#content .tabs-section.pws-section-grid-gray-standard-cards .rich-text {
    margin-bottom: -50px;
}

#content .tabs-section.pws-section-grid-gray-standard-cards .row-splitter .container-fluid:last-child .rich-text {
    margin-bottom: -65px;
}

#content .pws-section-grid-gray-standard-cards .row-splitter .container-fluid .component.column-splitter:first-child {
    margin-top: -64px;
}

#content .pws-section-grid-gray-standard-cards.pws-features-gray .row-splitter .container-fluid .component.column-splitter:first-child {
    margin-top: 0;
}
*/

.pws-email-advice .component-content .form-group .help-block.field-validation-error {
    margin: 0;
    padding: 0;
    color: #00BAFF;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    top: 152px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: #585858;
}

.cc-grids-two-col .cc-grids-col-right p {
    margin: 0;
    padding: 5px 0;
}

.content a, .rich-text a {
    color: #00BAFF !important;
    font-weight: normal;
}

.pws-apply-main-box .component-content h3 {
    margin-top: 5px;
}

.pws-simple-accordion-title .toggle-content[open] > .component .steps-list ol > li > h4 {
    padding: 0 35px;
}

.toggle.pws-toggle-drop-left summary.toggle-header .toggle-label, .toggle.pws-toggle-drop-right summary.toggle-header .toggle-label {
    margin: 1px 5px !important;
}

.tabs-section.pws-section-faqs .promo.pws-row-accordion-container .rich-text {
    float: none;
}

#content .pws-social-share {
    margin: 0;
}

.pws-form-white-layout fieldset .form-group select,
.pws-form-layout fieldset .form-group select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.pws-cta-bg-banner img {
    max-width: none;
}

.branch-locator-filters-box .location-filter .location-search-box-button {
    background: #fff url(../images/icons/search-btn-gray.png) no-repeat center !important;
}

.branch-locator-filters-box .location-filter .location-search-box-input {
    /*    padding: 5px 10px;*/
}

.location-filter input[type="text"], .location-filter input[type="email"], .location-filter input[type="password"], .location-filter textarea, .location-filter select {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.search-box .component-content > .twitter-typeahead {
    margin: 0;
}

.search-box input[type="text"], .search-box input[type="email"], .search-box input[type="password"], .search-box textarea, .search-box select {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.overlay .overlay-close:before {
    content: "";
    background: url(../images/icons/gray-close-big.png) 0 0 no-repeat;
    width: 22px;
    height: 22px;
    overflow: hidden;
    display: inline-block;
    border-radius: 0;
}

.overlay .overlay-close:hover:before {
    background: url(../images/icons/gray-close-big.png) 0 0 no-repeat;
}

.validation-summary-valid .list-group {
    margin-bottom: 10px;
}

.pws-single-column-promo.pws-single-column-promo-image-left .promo-content {
    padding-top: 15px !important;
}

.promo .component-content .field-promotext h4 {
    margin-top: 10px;
}

.pws-promo-gray-card .component-content .field-promotext h3 {
    margin-top: 20px;
}

input[type="submit"], button, input[type="button"] {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #e0e0e0));
    background-image: -moz-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
}

.tabs-section .rich-text,
.content, .rich-text {
    overflow: visible;
}

.promo > .component-content .icon-with-hexagon-bg.hexagon-1col-full {
    padding: 20px;
}

.promo .component-content .field-promotext h3, .link-promo .component-content .field-promotext h3 {
    margin-top: 20px;
}

#content .pws-grid-list-content-3-blocks .pws-title {
    margin-top: 10px;
}

.overlay > .component-content {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    background-color: #e6e6e6;
    margin: 100px auto auto auto;
    max-width: 90%;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    overflow: hidden;
}

.pws-form-layout fieldset .form-group .help-block.field-validation-error, .pws-form-layout .validation-summary-errors {
    display: inline-block;
}

.main-header .top-nav-container .top-nav-inner li {
    max-width: 170px;
}

.pws-email-advice .component-content .form-submit-border input[type="submit"] {
    text-shadow: none;
}

.component.content.col-xs-12.section-margin-top-50.section-margin-bottom-50 {
    padding: 0 20px;
}

.pws-enhancements .page-list.whats-new ul li {
    display: inline-block;
    width: 100%;
    float: left;
}

.pws-enhancements .whats-new-links {
    margin-right: 0;
    margin-top: 0;
}

.pws-enhancements .accordion .items .item .label {
    padding: 20px 50px 20px 0;
}

.pws-enhancements .pws-single-column-promo.pws-standard-card .component-content .promo-content {
    padding-top: 47px !important;
}

.pws-enhancements .pws-simple-accordion-title .toggle-content .rich-text a {
    text-decoration: none;
}

.pws-enhancements .pws-simple-accordion-title .component-content .toggle-content .toggle-header:before {
    background: transparent;
}

.pws-enhancements .component.InPageNav #tabs > .container {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
}

.pws-enhancements .link-list.whats-new-links li a:hover {
    color: #0095cc !important;
    /* text-shadow: 0 0 0.1px #9f3c04 !important; */
}

.pws-enhancements .pws-blog-inner-content .enhc-content .field-content h4 {
    margin-top: 45px;
    margin-bottom: 18px;
}

.pws-enhancements .pws-form-white-layout .calculator-right-sec {
    min-height: 483px;
}

.pws-enhancements .pws-form-layout .txt-amount.large {
    line-height: 41px;
}

.pws-enhancements .pws-form-layout .txt-line {
    margin-top: 0;
}

.pws-enhancements .pws-form-layout .txt-amount {
    line-height: 23px;
}

.pws-enhancements .component.form.pws-form-layout.pws-form-white-layout,
.pws-enhancements .terms-block {
    margin-bottom: 50px !important;
}

#content .enhc-overview-clusta .featured-offers > .item:nth-child(n+2) .enhc-listing-item .enhc-link-btn a,
.pws-enhancements #content .enhc-overview-clusta.enhc-offer-carousel .featured-offers .item:first-child .enhc-listing-item .enhc-link-btn a {
    color: #9099a0 !important;
}

#content .enhc-overview-clusta .featured-offers > .item:nth-child(n+2) .enhc-listing-item .enhc-link-btn a:hover,
#content .enhc-overview-clusta .featured-offers > .item:nth-child(n+2):hover .enhc-listing-item .enhc-link-btn a,
.pws-enhancements #content .enhc-overview-clusta.enhc-offer-carousel .featured-offers .item:hover .enhc-listing-item .enhc-link-btn a,
.pws-enhancements #content .enhc-overview-clusta.enhc-offer-carousel .featured-offers .item:first-child .enhc-listing-item .enhc-link-btn a:hover {
    color: #7a8084 !important;
}

.pws-enhancements .pws-single-column-promo.pws-hero-height .component-content .btn-content .inline-btn + .field-link2 {
    margin-left: 0 !important;
}

.pws-enhancements .pws-link-list-for-tabs li .apply-selected a:hover {
    background-color: #0095cc;
    font-weight: 500 !important;
    text-shadow: none;
}

/* style */
.row-merchants {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}