/* breakpoints */
.map {
  border-width: 1px;
  border-style: solid;
  border-color: none;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: transparent;
}

.map .map-canvas {
  position: relative;
}

.map img {
  max-width: none;
}

.map .MicrosoftMap .infobox-close {
  position: static;
  float: right;
}

.map .MicrosoftMap .Infobox .infobox-body {
  height: 100%;
}

.map .MicrosoftMap .Infobox .infobox-info {
  height: 100%;
  box-sizing: border-box;
}
.search-area{
	display:none;
	position: absolute;
    left: 40%;
    top: 5%;
    background-color: gray;
   color: #fff !important;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 10px;
	text-decoration: none  !important;
}
.search-area:hover,.search-area:hover{
	color: #fff;
	text-decoration: none;
}
@media screen and (max-width: 767px){
	.search-area{
	left:30%;
	}
}