@font-face {
    font-family: 'Conv_ge-ss-text-light';
    src: url("../fonts/ge-ss/ge-ss-text-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ge-ss-text-medium';
    src: url("../fonts/ge-ss/ge-ss-text-medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ge_ss_text_bold';
    src: url("../fonts/ge-ss/ge_ss_text_bold.woff");
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'Conv_ge-ss-text-light';
    src: url("../fonts/ge-ss/ge-ss-text-light.eot");
    src: local("?"), url("../fonts/ge-ss/ge-ss-text-light.woff") format("woff"), url("../fonts/ge-ss/ge-ss-text-light.ttf") format("truetype"), url("../fonts/ge-ss/ge-ss-text-light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ge-ss-text-medium';
    src: url("../fonts/ge-ss/ge-ss-text-medium.eot");
    src: local("?"), url("../fonts/ge-ss/ge-ss-text-medium.woff") format("woff"), url("../fonts/ge-ss/ge-ss-text-medium.ttf") format("truetype"), url("../fonts/ge-ss/ge-ss-text-medium.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ge_ss_text_bold';
    src: url("../fonts/ge-ss/ge_ss_text_bold.eot");
    src: local("?"), url("../fonts/ge-ss/ge_ss_text_bold.woff") format("woff"), url("../fonts/ge-ss/ge_ss_text_bold.ttf") format("truetype"), url("../fonts/ge-ss/ge_ss_text_bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
*/
