.online-app-sec .promo-content {
	    width: 510px !important;
}
.online-app-sec .promo-content .pws-content p a{
	margin-bottom:8px !important;
}
.online-app-sec .promo-content .pws-content p {
	text-align: center !important;
}

.iframe iframe {
    width: 100%;
    height: -webkit-fill-available;
    min-height: calc(400rem - 200rem);
    overflow: hidden;
    position: relative;
}
iframe .theme2 body {
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .iframe iframe {
        min-height: calc(400rem - 85rem);
    }
  }
 @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    .iframe iframe {
        min-height: calc(400rem - 215rem);
    }
  }
  
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    .iframe iframe {
        min-height: calc(400rem - 155rem);
    }
  }
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .iframe iframe {
        min-height: calc(400rem - 215rem);
    }
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .iframe iframe {
        min-height: calc(400rem - 80rem);
    }
  }
.pws-simple-list.pws-col-grid-3 ul{
    display: flex;
    flex-wrap: wrap;
}

.pws-simple-list.pws-col-grid-3 ul > li {
    display: inline-block;
    vertical-align: top;
    flex-basis: calc(33.33% - 70px);
    height: auto;
    padding: 50px 0 0;
    margin: 50px 35px 0 !important;
}

.pws-red-bg{
	    background: red;
}

.pws-red-bg ul{
	    background: red;
}

.pws-red-bg ul > li{
	    background: red;
}
